@import '../../../styles/variables.scss';

.MovieSeriesReviews {
	padding: 15px;
	background-color: $background-gray;
	width: 100%;
	display: flex;
	flex-direction: column;

	.warning {
		text-align: center;
		font-style: italic;
	}
}
