@import '../../../styles/variables.scss';

.movie-series-statistics {
	height: 600px;
	width: 100%;
	text {
		font-size: $post-font-size !important;
		font-family: $base-font-family !important;
	}
	.statistics-title {
		text-transform: uppercase;
		font-size: 22px;
		font-weight: 600;
		letter-spacing: 0.4px;
		line-height: 19px;
		margin-top: 20px;
		text-align: center;
	}
	.average-statistics {
		margin-top: -270px;
	}
	.average-statistics-content {
		display: flex;
		justify-content: center;
		text-align: center;
	}
	.average-statistics-item {
		border: 1px solid $border-color;
		box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
		border-radius: 2px;
		margin: 10px;
		width: 30%;
		font-size: 25px;
	}

	.average-statistics-item-title {
		border-bottom: 1px solid $border-color;
		padding: 20px;
		margin-bottom: 20px;
	}
	.average-statistics-item-content {
		padding: 10px;
		margin: 10px;
	}
	.item-content-count {
		font-size: 15px;
	}
}
