@import '../../../../styles/variables.scss';

.profile-editor {
	width: 60%;

	input[type='text'] {
		outline: none;
		height: 43px;
		color: $text-base-color;
		box-sizing: border-box;
		font-size: $form-font-size;
		letter-spacing: $input-letter-spacing;
		box-shadow: 0px 0px 10px $input-shadow-color;
		border: 1px solid $border-color;
		border-radius: 3px;
		padding: 12px 15px;
	}

	.editor-gender {
		label:first-of-type {
			margin-right: 20px;
		}
	}

	.content {
		.delete-movie {
			margin-left: 5px;
		}
	}

	button {
		float: right;
		height: 43px;
		border-radius: 55px;
		width: 100px;
		border: none;
		outline: none;
		font-size: $header-medium;
		font-weight: bold;
		&.save-btn {
			background-color: $button-background;
			color: $white;
			box-shadow: 0px 5px 12px $button-shadow-color;
			&:hover {
				background-color: rgb(216, 86, 0);
			}
		}

		&.cancel-btn {
			color: $text-secondary-color;
			&:hover {
				background-color: $background-gray;
				color: rgba($text-base-color, 0.7);
			}
		}
	}
}
