@import '../../../styles/variables.scss';

.reaction-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
	align-items: center;
	padding-left: 16px;
}

.post-item {
	background: $white;
	border: 1px solid $border-color;
	box-sizing: border-box;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
	border-radius: 2px;
	margin-bottom: 40px;
	font-family: $base-font-family;
	font-style: normal;
	font-weight: normal;
	font-size: $post-font-size;
	line-height: 19px;
	letter-spacing: $base-letter-spacing;
	position: relative;

	> * {
		margin: 0 25px;
	}

	.comment-form {
		margin: 0;
		margin-top: 10px;
		padding-left: 0;

		input {
			color: $text-base-color;
			padding: 0 25px;
		}
	}

	button {
		background-color: $white;
		border: none;
		outline: none;
	}

	button:hover {
		cursor: pointer;
		color: $button-background;
	}

	.post-body {
		margin-top: 20px;
	}

	.tag-items {
		padding: 0.5em 1em;
		display: flex;
		flex-wrap: wrap;
	}
}

.post-item-header {
	display: flex;
	align-items: center;
	position: relative;
	border-bottom: 1px solid $border-color;
	height: 70px;
	padding: 25px;
	margin: 0;

	.user-link {
		text-decoration: none;
		color: $text-base-color;
		display: flex;
	}
}

.post-item-image {
	width: 100%;
	margin: 0;
}

.post-item-avatar {
	width: 2.5em;
	height: 2.5em;
	border-radius: 50%;
}

.post-item-author-name {
	font-weight: 600;
}

.post-item-post-time {
	text-transform: uppercase;
	color: $text-secondary-color;
}

.post-item-info {
	display: flex;
	flex-direction: column;
	margin-left: 1em;
	text-align: left;
}

.post-item-settings {
	margin-left: auto;
	// position: relative;
}

.post-item-action-buttons {
	display: flex;
	text-align: left;
	position: relative;
	margin-top: 20px;

	button {
		margin-right: 10px;
		&:hover svg {
			color: $button-background;
		}
		z-index: 1;
	}

	button svg {
		font-size: 25px;
		color: $text-base-color;
	}

	button:last-child {
		margin-left: auto;
		margin-right: 0;
	}
}

// .post-item-action-plus{
//     position: absolute;
//     right: 1em;
// }

.post-item-last-reaction {
	display: flex;
	align-items: center;
	text-align: left;
	flex-direction: row;
	margin-bottom: 10px;
}

.post-item-reaction-image {
	width: 30px;
	border-radius: 50%;
	margin-right: 1em;
}
.horizontal-stroke {
	height: 7px;
	margin: 0.5em 0;
	width: 100%;
	background-color: #e5e5e5;
}
.post-item-reaction-text {
	color: $text-base-color;
	font-size: $menu-font-size;
}
.like-icon {
	&::before {
		content: '.';
		opacity: 0;
		display: block;
		width: 44px;
		height: 10px;
		position: absolute;
		top: -10px;
		left: 0;
	}
}
