@import "../../styles/variables.scss";

.survey-editor {
    a {
        margin: 20px;
    }

    form {
        display: flex;
        flex-direction: column;

        input {
            padding: 5px;
        }

        > * {
            margin: 20px;
        }

        .survey-title {
            font-size: $header-large;
        }

        .question-title {
            margin-bottom: 20px;
            margin-top: 20px;
            font-size: 18px;
            width: 65%;
        }

        .question-type {
            width: 30%;
            margin-left: 20px;
        }
    }
}

