@import '../../../styles/variables';

$color: black;
.content-search {
	height: 40px;

	position: relative;
	display: flex;
	margin-left: 5%;

	.search {
		border: 1px solid $border-color;
		box-shadow: 0 0 11px $input-shadow-color;
		border-radius: 2px 0 0 2px;
		font-size: $base-font-size;
		line-height: 15px;
		align-items: center;
		letter-spacing: $input-letter-spacing;
		color: $input-placeholder-color;

		.search-input {
			border: none;
			padding: 0 0 0 5px;
			width: 240px;
			display: block;
			flex: 1;
			height: 100%;
		}

		.search-input:focus {
			outline: none;
		}

		.search-icon {
			margin: 6px 10px 0px 10px;
			display: block;
			float: left;
		}
	}

	.question-type {
		flex: 1;
		width: 30%;
		background: $background-gray;
		font-family: $base-font-family;
		font-weight: 500;
		font-size: $menu-font-size;
		border: none;
		cursor: pointer;

		&:focus {
			outline: none;
		}
	}

	.movie-add-wrp {
		padding: 10px;

		.edit-form {
			padding: 0;
		}
	}

	.modal-data-search-show {
		transform: scaleY(1) !important;
	}

	.modal-data-search {
		max-height: 600px;
		overflow-y: scroll;
		transform: scaleY(0);
		font-family: $base-font-family;
		background: #f7f8f9;
		border: 1px solid $border-color;
		box-shadow: 2px 1px 8px $input-shadow-color;
		border-radius: 3px;
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 10;
		transform-origin: 0 0;
		transition: 0.5s ease-in-out;
		text-align: left;
		cursor: default;
		font-size: $base-font-size;
		line-height: 15px;
		width: 600px;
		padding: 0 10px 10px 10px;

		.hover {
			color: inherit;
		}

		a {
			text-decoration: none;

			display: block;
			padding-top: 15px;
			line-height: 20px;

			&:hover {
				cursor: pointer;
			}
		}
	}

	.extra {
		border: none;
	}

	.extra-body {
		max-width: 100%;
	}

	.active {
		width: 100% !important;
	}

	.loading {
		padding: 5px;
		margin-top: 10px;

		.loader-container {
			font-size: 10px;
			position: relative;
			width: 100px;
			height: 100px;
			display: inline-block;
			text-align: center;
			border: 1px solid #ccc;
			border-collapse: collapse;
			vertical-align: top;
		}
	}
}

.result-list {
	padding: 10px 0;

	.list-header {
		background-color: $orange-light;
		text-transform: capitalize;
		color: white;
		padding: 5px 5px 5px 50px;
		text-align: center;
	}

	.list-content {
		padding: 10px;
		box-sizing: border-box;
	}

	.show-more-button {
		color: rgba(18, 39, 55, 0.5);
		font-style: italic;
		cursor: pointer;
		transition: opacity 0.3s ease;
		text-align: right;
	}

	.avatar {
		width: 50px;
		height: 50px;
		border-radius: 50%;
		margin-right: 10px;
	}
	.user-info {
		font-weight: 600;
		font-size: 14px;
		line-height: 17px;
		align-items: center;
		text-align: center;
		letter-spacing: 0.4px;
		color: #122737;
		display: flex;
		margin: 10px 0;
	}
}
