@import '../../../../styles/variables.scss';

.link-reset {
	color: inherit;
	text-decoration: inherit;
}

.top-item,
.edit-top,
.delete-top,
.top-upload-image {
	border: 1px solid $border-color;
	box-shadow: 0px 0px 11px $border-color;
	grid-column: 2/5;
}

.top-item {
	color: $text-secondary-color;
	padding: 10px;
	border-radius: 3px;
	display: grid;
	grid-template-columns: 1fr 60px 60px 60px;
	grid-template-rows: 150px 1fr;
	align-items: center;
	min-height: 60px;
	margin-top: 20px;

	.top-item-title {
		padding-left: 30px;
		font-size: 24px;
	}

	.top-upload-image {
		padding: 10px 20px;
		margin: auto;
		border-radius: 3px;
	}

	.hover {
		cursor: pointer;
	}

	.edit-top {
		padding: 10px;
		grid-column: 3/4;
	}

	.delete-top {
		padding: 4px;
		margin: 0px 10px 1px;
	}

	.edit-top,
	.delete-top {
		color: $text-secondary-color;
		justify-self: end;
		border-radius: 3px;
		align-self: flex-end;
	}

	.top-title-input {
		margin: 10px;
		font-size: $form-font-size;
		width: 95%;
		padding: 10px 15px;
	}

	.image-top {
		width: 300px;
		grid-area: 2/1/3/5;
		margin: auto;
	}
	div{
		.top-page-item{
			box-shadow:none;
			justify-content: flex-start;
			.top-socondary-section{
				padding-top: 0px;
			}
		}
	}
	.last{
	display: flex;
    flex-direction: column;
    height: 100%;
	justify-content: space-between;
	time{
		margin-left: -45px;
	}
	}

}
