@import "../../../styles/variables.scss";

.barChart {
    margin: 0 auto;
    width: 90%;
    height: 300px;
    font-size: 20px;
}

.question-title {
    border-bottom: 2px $text-secondary-color solid;
}

.responses-info {
    color: $text-secondary-color;
}

.survey-statistics {
    padding-top: 40px;
}

.question-title {
    margin-bottom: 20px;
}