@import '../../../styles/variables.scss';

.header {
	font-family: $base-font-family;
	display: grid;
	grid-template-columns: 250px 70px 40px 70px 380px 56px 110px;
	grid-gap: 10px;
	height: 72px;
	justify-content: space-around;
	align-items: center;
	border: 1px solid $border-color;
	box-shadow: 0px 0px 10px $input-shadow-color;

	.header-logo-link {
		text-decoration: none;
		color: inherit;
		display: flex;
		align-items: flex-start;
		padding-top: 3px;
		height: 100%;

		&:active {
			color: inherit;
		}
		.title {
			font-weight: 900;
			font-size: 24px;
			letter-spacing: $header-letter-spacing;
			margin-top: 16px;
		}
		.logo-wrapper {
			font-size: 0;

			img {
				width: 50px;
				height: 50px;
			}
		}
	}

	.header-buttons {
		height: 100%;
		position: relative;
		outline: none;
		border: none;
		background: $white;
	}

	.header-buttons,
	.user-info {
		font-weight: 600;
		font-size: $menu-font-size;
		line-height: 17px;
		align-items: center;
		text-align: center;
		letter-spacing: $base-letter-spacing;
		color: $text-base-color;

		&:nth-of-type(2) .modal,
		&:nth-of-type(3) .modal {
			color: #bbbbbb;
		}
	}

	.fa-chevron-down {
		margin-left: 4px;
		width: 8px;
		vertical-align: bottom;
	}

	.user-info {
		display: flex;

		&:nth-of-type(2) .modal,
		&:nth-of-type(3) .modal {
			pointer-events: all;
			color: $text-base-color;
		}

		span {
			color: $text-base-color;
			margin-left: 10px;
		}

		img {
			width: 50px;
			height: 50px;
			border-radius: 50%;
		}
	}

	.filter {
		border: 1px solid $border-color;
		box-shadow: 0px 0px 11px $input-shadow-color;
		border-radius: 0px 2px 2px 0px;
		border-left: none;
		padding: 6px;
		width: 78px;
		font-size: $base-font-size;
		line-height: 15px;
		align-items: center;
		letter-spacing: $input-letter-spacing;
		color: $text-base-color;
		display: flex;
		justify-content: center;
	}

	.search-area {
		position: relative;
		display: flex;
		margin-left: 5%;

		.search {
			border: 1px solid $border-color;
			box-shadow: 0px 0px 11px $input-shadow-color;
			border-bottom-left-radius: 2px;
			border-top-left-radius: 2px;
			border-bottom-right-radius: 0px;
			border-top-right-radius: 0px;
			font-size: $base-font-size;
			line-height: 15px;
			align-items: center;
			letter-spacing: $input-letter-spacing;
			color: $input-placeholder-color;

			.search-input {
				border: none;
				margin: 6px 10px 0px 10px;
				width: 240px;
				display: block;
			}
			.search-input:focus {
				outline: none;
			}
			.search-icon {
				margin: 6px 10px 0px 10px;
				display: block;
				float: left;
			}
		}
	}
	.hover:hover {
		cursor: pointer;
	}

	.notifications {
		display: flex;

		.notify-icon {
			display: grid;
			margin-left: 21px;
			justify-items: center;
		}

		.message-icon {
			margin: 2px;
		}
	}
	.header-buttons:hover {
		.modal {
			transform: scaleY(1);
		}
	}
	// .search-area:hover {
	.search-area {
		.modal {
			transform: scale(1);
			width: 150%;
		}
	}
	.modal {
		font-family: $base-font-family;
		background: #f7f8f9;
		border: 1px solid $border-color;
		box-shadow: 2px 1px 8px $input-shadow-color;
		border-radius: 3px;
		position: absolute;
		top: 100%;
		left: 0;
		z-index: 10;
		transform: scaleY(0);
		transform-origin: 0 0;
		transition: 0.5s ease-in-out;
		text-align: left;
		cursor: default;
		font-size: $base-font-size;
		line-height: 15px;
		width: 150px;
		padding: 0 10px 10px 10px;
		.hover {
			color: inherit;
		}
		a {
			text-decoration: none;

			display: block;
			padding-top: 15px;
			line-height: 20px;
			&:hover {
				cursor: pointer;
			}
		}
	}

	.user-info {
		position: static;
		.modal {
			left: calc(100% - 150px);
			top: 72px;
		}
	}

	.inactive {
		color: $text-secondary-color;
	}

	@media (max-width: 925px) {
		.title {
			display: none;
		}
		.notifications {
			.notify-icon {
				margin-left: 5px;
			}
		}
		.search-area {
			margin-left: 0px;
		}
	}

	@media (max-width: 765px) {
		.header-buttons {
			display: none;
		}
		.search-area {
			.search {
				.search-input {
					width: 180px;
				}
			}
		}
	}
}
