@import '../../../styles/variables.scss';

.MovieItem {
	display: grid;
	grid-template-columns: 140px 1fr;
	grid-gap: 20px;
	padding: 17px;
	box-shadow: 0 0 5px -2px rgba(0, 0, 0, 0.438);

	.movie-item-image-container {
		position: relative;
		font-size: 0;
		width: 100%;
		img {
			width: 100%;
		}

		.watch-list-icon {
			position: absolute;
			top: 0;
			left: -5px;
			background: url('/images/sprite/sprite-icons.png') no-repeat;
			filter: grayscale(100%);
			margin-left: 10px;
			height: 50px;
			width: 40px;
			background-position-x: -10px;
			transition: filter 0.2s linear;
			cursor: pointer;
			&.add-to-watch-list {
				background-position-y: -67px;
			}
			&.watched {
				background-position-y: -10px;
				cursor: default;
				filter: none;
			}
			&.to-watch {
				background-position-y: -10px;
			}
			&.loading-now {
				background: url('/images/gifs/mini-spinner.gif') no-repeat center -1px;
			}

			&.add-to-watch-list:hover,
			&.to-watch:hover {
				filter: grayscale(100%) brightness(85%);
			}
		}
	}
	.movie-item-main {
		.movie-item-title {
			font-size: $header-medium;
			font-weight: 600;
			line-height: 19px;
			text-decoration: none;
			color: $text-base-color;
			transition: opacity 0.2s ease;
			&:hover {
				opacity: 0.8;
			}
			.movie-item-date {
				font-weight: 400;
				font-size: $base-font-size;
			}
		}
		.movie-item-duration-genres {
			font-size: 15px;
			.duration {
				color: $text-secondary-color;
			}
			.border-element {
				color: $text-secondary-color;
				font-weight: 400;
			}
			.genres {
				color: $text-secondary-color;
			}
		}
		.movie-item-overview {
			text-align: justify;
			margin-top: 20px;
			font-size: $base-font-size;
		}
	}
}
