@import '../../../styles/variables.scss';
@import '../AdvancedMovieSearch/CustomRange.scss';

.slider-header {
	align-self: center;
	font-size: $header-medium;
}

.slider-wrp {
	padding-bottom: 10px;
}
