@import '../../../styles/variables.scss';
.user-events {
	padding-bottom: 30px;

	.event-list-container {
		padding: 3px;
	}

	.event-show-warning {
		text-align: center;
		margin-top: 15px;
		font-size: 12px;
	}

	.events-title {
		margin-top: 20px;
		width: 100%;
		text-align: center;
		position: relative;
		background-color: white;

		span {
			position: relative;
			padding: 0 5px;
			background-color: white;
			border-radius: 100%;
			font-size: 20px;
			color: rgba(18, 39, 55, 0.5);
			z-index: 2;
		}
	}
}
