@import '../../styles/variables.scss';

.chat-wrp {
	border: 1px $border-color solid;
	display: flex;
	box-sizing: border-box;
	margin: 50px auto;
	width: 90%;
	height: 600px;
	a {
		color: $text-base-color;
		text-decoration: none;
		&:visited {
			color: $text-base-color;
		}
		&:hover {
			color: $text-base-color;
		}
		&:active {
			color: $text-base-color;
		}
	}
	.chat-list {
		width: 30%;
		overflow: auto;
		&-item {
			border-bottom: 1px solid $border-color;
			height: 70px;
			padding: 5px;
			display: flex;
			transition: all 0.1s linear;
			&:hover {
				background-color: $background-gray;
			}
			.avatar {
				height: 100%;
			}
			&-info {
				width: 100%;
				margin: 0 5px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				.info-header {
					display: flex;
					justify-content: space-between;
					.user-name {
						font-weight: 600;
					}
					.last-date {
						color: $text-secondary-color;
						font-size: 0.85em;
					}
				}
				.last-message {
					color: rgba($text-base-color, 0.9);
					font-size: 0.9em;
					height: 35px;
					text-overflow: ellipsis;
					overflow: hidden;
				}
			}
		}
	}
	.chat {
		width: 70%;
		border-left: 1px $border-color solid;
		.chat-header {
			padding: 5px 10px;
			height: 50px;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			background-color: $background-gray;
			.header-avatar {
				height: 100%;
			}
			.user-name {
				font-weight: 600;
				margin-left: 10px;
			}
		}
		.chat-body {
			height: 500px;
			overflow: auto;
			font-size: 0.8em;
			padding: 10px;
			.break-line {
				width: 80px;
				text-align: center;
				padding: 5px;
				margin: 20px auto;
				background-color: #adadad;
				border-radius: 15px;
				color: white;
				font-weight: bold;
				max-height: 25px;
			}
			.incoming-message,
			.outgoing-message {
				max-width: 50%;
				padding: 10px;
				border-radius: 20px;
				margin: 10px 0;
				font-weight: 500;
			}
			.incoming-message {
				color: white;
				margin-right: 50%;
				background-color: $orange;
				time {
					color: rgba(white, 0.8);
				}
			}
			.outgoing-message {
				margin-left: 50%;
				background-color: $background-gray;
			}
			time {
				margin-left: 10px;
				font-size: 0.8em;
				float: right;
				font-style: italic;
				color: $text-secondary-color;
			}
		}
		.chat-input {
			height: 50px;
		}
	}
}
