@import '../../styles/variables.scss';
.edit-message-modal {
	height: 150px;
	width: 400px;
	padding: 20px;
	padding-top: 40px;
	input {
		width: 100%;
		height: 43px;
		font-size: 16px;
		padding: 10px;
	}
}

.chat-wrp {
	border: 1px $border-color solid;
	display: flex;
	box-sizing: border-box;
	margin: 50px auto;
	width: 90%;
	height: 600px;
	a {
		color: $text-base-color;
		text-decoration: none;
		&:visited {
			color: $text-base-color;
		}
		&:hover {
			color: $text-base-color;
		}
		&:active {
			color: $text-base-color;
		}
	}
	.chat-list {
		width: 30%;
		overflow: auto;
		&-item {
			border-bottom: 1px solid $border-color;
			height: 70px;
			padding: 5px;
			display: flex;
			transition: all 0.1s linear;
			&:hover {
				background-color: $background-gray;
			}
			.counter {
				float: right;
				background-color: $orange;
				color: white;
				font-weight: 600;
				border-radius: 12px;
				min-width: 24px;
				padding: 3px;
				text-align: center;
			}
			.avatar {
				height: 100%;
				border-radius: 50%;
			}
			&-info {
				width: 100%;
				margin: 0 5px;
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				.info-header {
					display: flex;
					justify-content: space-between;
					.user-name {
						font-weight: 600;
					}
					.last-date {
						color: $text-secondary-color;
						font-size: 0.85em;
					}
				}
				.last-message {
					word-break: break-all;
					white-space: pre-line;
					overflow: hidden;
					color: rgba($text-base-color, 0.9);
					font-size: 0.9em;
					height: 35px;
					text-overflow: ellipsis;
					overflow: hidden;
				}
			}
		}
	}
	.chat {
		width: 70%;
		border-left: 1px $border-color solid;
		.chat-header {
			padding: 5px 10px;
			height: 50px;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			background-color: $background-gray;
			.header-avatar {
				border-radius: 50%;
				height: 100%;
			}
			.user-name {
				font-weight: 600;
				margin-left: 10px;
			}
		}
		.chat-body {
			height: 500px;
			overflow: auto;
			font-size: 0.8em;
			padding: 10px;
			padding-top: 0;
			.break-line-wrp {
				width: 100%;
				display: inline-block;
			}
			.to-bottom {
				background-color: transparent;
				margin-bottom: 10px;
				border-radius: 0;
				border: solid $orange;
				border-width: 0 3px 3px 0;
				transform: rotate(45deg);
				-webkit-transform: rotate(45deg);
			}
			.break-line {
				min-width: 80px;
				max-width: 100px;
				text-align: center;
				padding: 5px;
				margin: 20px auto;
				background-color: #adadad;
				border-radius: 15px;
				color: white;
				font-weight: bold;
				max-height: 25px;
			}
			.story-wrp {
				display: block;
				.story {
					height: 177px;
					width: 100px;
					border-radius: 20px;
				}
			}
			.incoming-message,
			.outgoing-message {
				max-width: 380px;
				margin: 5px 0;
				font-weight: 500;
				word-wrap: break-word;
				white-space: pre-line;
				display: inline-block;
				time {
					display: flex;
					align-items: center;
					height: 17px;
					margin-left: 10px;
					font-size: 0.8em;
					float: right;
					font-style: italic;
					color: $text-secondary-color;
				}
			}
			.incoming-message {
				color: white;
				margin-right: 50%;
				.incoming-message-text {
					border-radius: 20px;
					padding: 10px;
					background-color: rgb(240, 159, 66);
				}
				time {
					color: rgba(white, 0.8);
				}
			}
			.outgoing-message {
				float: right;
				margin-left: 50%;
				.outgoing-message-text {
					position: relative;
					background-color: $background-gray;
					border-radius: 20px;
					padding: 10px;
					&::before {
						content: '';
						position: absolute;
						top: 0;
						bottom: 0;
						width: 100px;
						left: -100px;
					}
					&:hover {
						.message-btns {
							display: flex;
						}
					}
				}
				.message-btns {
					display: none;
					position: absolute;
					top: 0;
					left: -60px;
					width: 60px;
					justify-content: center;
					padding-right: 10px;
					height: 100%;
					&:hover {
						display: flex;
					}
					button {
						border: none;
						outline: none;
						background-color: transparent;
						&:first-of-type {
							margin-right: 10px;
						}
						svg {
							width: 15px;
							height: 15px;
						}
					}
				}
			}
		}
		.chat-input {
			height: 50px;
			border-top: 1px solid $border-color;

			input {
				width: calc(100% - 50px);
				font-size: 0.8em;
				height: 100%;
				border: none;
				outline: none;
				margin: 0;
				padding: 10px;
				background-color: transparent;
			}
			.send-btn {
				&:hover {
					background-color: $background-gray;
				}
				cursor: pointer;
				float: right;
				height: 100%;
				width: 50px;
				margin: 0;
				padding: 15px;
				background-color: transparent;
				outline: none;
				border: none;
				svg {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}
