
$tab-active-line: 3px;
$tab-space: 10px;
$tab-list-space-top: $tab-space + $tab-active-line;

$text-base-color: #122737;
$text-secondary-color: rgba($text-base-color, .5);
$base-font-family: 'Inter', sans-serif;
$header-medium: 18px;
$base-letter-spacing: .4px;
$orange: #FB8700;
$header-letter-spacing: .9px;

.movie-series-page {
    width: 70%;
    margin: 2% auto 0;
    display: flex;
    flex-direction: column;
    color: $text-base-color;
}

.movie-series-page-header {
    margin-bottom: 25px;
    text-align: left;

    .title {
        margin-bottom: 5px;
        text-transform: uppercase;
        font-size: 22px;
        font-weight: 600;
        letter-spacing: $header-letter-spacing;
    }

    .info {
        display: flex;
        flex-direction: column;
    }
}

.movie-series-page-tabs {
    margin-bottom: $tab-space;
    
    .movie-series-page-tab-list {
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        margin-top: $tab-list-space-top;
        
        .movie-series-page-tab {
            padding: $tab-space;
            text-decoration: none;
            color: $text-secondary-color;
            letter-spacing: $base-letter-spacing;
            font-weight: 600;
        }

        .movie-series-page-tab-active {
            border-top: $tab-active-line solid $orange;
            border-radius: 2px;
            color: $text-base-color;
            font-size: $header-medium;
        }
    }
}

.movie-series-page-tab-body {
    border: 1px solid #000;
}
