@import '../../styles/variables.scss';

$tab-active-line: 3px;
$tab-space: 10px;
$tab-list-space-top: $tab-space + $tab-active-line;

$text-base-color: #122737;
$text-secondary-color: rgba($text-base-color, 0.5);
$base-font-family: 'Inter', sans-serif;
$header-medium: 18px;
$base-letter-spacing: 0.4px;
$orange: #fb8700;
$header-letter-spacing: 0.9px;

.movie-series-page {
	width: 80%;
	margin: 2% auto 0;
	display: flex;
	flex-direction: column;
	color: $text-base-color;
}

.movie-series-page-header {
	margin-bottom: 15px;
	.header-movie-title-rating {
		display: grid;
		grid-template-columns: 50px 1fr 205px;
		grid-template-rows: auto;

		.header-movie-watch-list {
			.watch-list-icon {
				background: url('/images/sprite/sprite-icons.png') no-repeat;
				filter: grayscale(100%);
				margin-left: 10px;
				height: 50px;
				width: 40px;
				background-position-x: -10px;
				transition: filter 0.2s linear;
				cursor: pointer;
				&.add-to-watch-list {
					background-position-y: -67px;
				}
				&.watched {
					background-position-y: -10px;
					cursor: default;
					filter: none;
				}
				&.to-watch {
					background-position-y: -10px;
				}
				&.loading-now {
					background: url('/images/gifs/mini-spinner.gif') no-repeat center -1px;
				}

				&.add-to-watch-list:hover,
				&.to-watch:hover {
					filter: grayscale(100%) brightness(85%);
				}
			}
		}

		.header-main-info {
			margin-left: 10px;

			.movie-title {
				text-transform: uppercase;
				font-size: $header-medium;
				font-weight: 600;
				letter-spacing: $base-letter-spacing;
				line-height: 19px;
			}

			.header-genres-review-own-rating {
				display: flex;

				.header-review-own-rating-container {
					display: flex;
					.review-button {
						display: block;
						padding: 2px 7px;
						border-radius: 25px;
						margin-left: 10px;
						border: 2px solid $orange;
						background-color: white;
						cursor: pointer;
						font-style: italic;
						letter-spacing: $base-letter-spacing;

						&:hover {
							opacity: 0.8;
						}
					}
				}

				.header-genres {
					color: $text-secondary-color;
					margin-top: 5px;
					margin-left: 2px;
				}
			}
		}

		.movie-rating-container {
			display: grid;
			grid-template-columns: 110px 95px;

			.totaly-movie-rating {
				display: flex;
				align-items: flex-start;
				justify-content: flex-end;
				font-size: 20px;
				padding: 10px;

				.icon-star {
					font-size: 20px;
					margin-right: 5px;
				}

				position: relative;
				.max-rating {
					margin-top: 7px;
					&::after {
						content: '';
						position: absolute;
						width: 2px;
						height: 30px;
						background-color: $border-color;
						top: 5px;
						right: 0px;
					}
				}
			}
		}

		.icon-star {
			color: #ffcd1e;
		}

		.max-rating {
			font-size: 0.6em;
			color: $text-secondary-color;
		}
	}
}

.movie-series-page-tabs {
	margin-bottom: $tab-space;
	position: sticky;
	top: 0;
	z-index: 2;
	background-color: $white;
	padding-bottom: 5px;

	.movie-series-page-tab-list {
		list-style-type: none;
		display: flex;
		justify-content: space-between;
		margin-top: $tab-list-space-top;

		.movie-series-page-tab {
			padding: $tab-space;
			text-decoration: none;
			color: $text-secondary-color;
			letter-spacing: $base-letter-spacing;
			font-weight: 600;
		}

		.movie-series-page-tab-active {
			border-top: 3px solid $orange;
			border-radius: 2px;
			color: $text-base-color;
			font-size: $header-medium;
		}
	}
}

.movie-series-page-tab-body {
	position: relative;
	display: grid;
	grid-template-columns: 70% 30%;
	grid-gap: 10px;
}
