@import '../../../styles/variables.scss';

.feed-list {
	grid-area: feed-list;
	padding-right: 30px;
	margin-right: 30px;
}
.feed-heading {
	font-family: $base-font-family;
	font-style: normal;
	font-weight: 600;
	font-size: $header-medium;
	line-height: 22px;
	text-align: left;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	// justify-content: center;
	cursor: pointer;
	.feedAddPost {
		margin-right: 10px;
		.feedAddPostIcon {
			font-size: 30px;
			color: $button-background;
		}
	}
}
