@import "../../styles/variables.scss";

.feed-item{
    background: $white;
    border: 1px solid $border-color;
    box-sizing: border-box;
    box-shadow: 2px 1px 8px $border-focus-color;
    border-radius: 2px;
    margin-top: 1em;
    font-family: $base-font-family;
    font-style: normal;
    font-weight: normal;
    font-size: $post-font-size;
    line-height: 19px;
    letter-spacing: $base-letter-spacing;
    button{
        background-color: $white;
        border:none;
    outline: none;
    }
    
    button:hover{
        cursor: pointer;
    }
 
}

.feed-item-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:1em;
    position: relative;
}

.feed-item-image{
    width: 100%
}

.feed-item-avatar {
    width:3em;
    height:3em;
    border-radius:50%; 
}

.feed-item-author-name{
    font-weight: 600; 
}

.feed-item-post-time{
    text-transform: uppercase;
    color: $text-secondary-color;
}

.feed-item-info{
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    text-align: left;
}

.feed-item-settings{
    position: absolute;
    right: 1em;
}

.feed-item-action-buttons{
    display: flex;
    text-align: left;
    position: relative;
}
.feed-item-action-plus{
    position: absolute;
    right: 1em;
}

.feed-item-last-reaction{
    display: flex;
    text-align: left;
    padding: 1em;
    flex-direction: row;
}

.feed-item-reaction-image{
    width:2em;
    height: 2em;
    border-radius:50%;
    margin-right: 1em; 
}

.feed-item-reaction-text{
    color: $text-base-color;
}