@import '../../../styles/variables.scss';

.multiple {

    label {
        padding-top: 3px;
        display: flex;
        position: relative;
        margin: 20px;
        padding-left: 35px;
        cursor: pointer;
        font-size: $form-font-size;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;

        input {
            position: absolute;
            opacity: 0;
            cursor: pointer;
            height: 0;
            width: 0;
        }

        input:checked ~ .checkmark {
            background-color: #2196F3;
        }

        input:checked ~ .checkmark:after {
            display: block;
        }

        .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 25px;
            width: 25px;
            background-color: #eee;
        }

        .checkmark:after {
            content: "";
            position: absolute;
            display: none;
        }
    }

    label .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}
 