@import '../../../../styles/variables.scss';

.result-list {
	//border-left: 5px solid $button-background;

	.extra-list {
		padding: 15px;
		display: flex;
		flex-direction: row;
		margin-bottom: 15px;
		justify-content: flex-start;

		& .fontAwesomeIcon {
			cursor: pointer;
		}

		svg {
			margin-left: 10px;
		}
	}

	.extra-body {
		display: flex;
		max-width: 80%;
		flex-direction: column;
	}

	.remove-extra {
		margin-left: auto;
		font-size: 16px;
		color: $text-secondary-color;
		cursor: pointer;
	}

	.extra-description {
		margin-left: 10px;
		margin-top: 10px;
	}

	.event-date-range {
		margin-left: 10px;
		margin-bottom: 10px;
		font-size: 14px;
		color: $text-secondary-color;
	}

	.extra-icon {
		margin-right: 10px;
		color: $text-secondary-color;
	}

	.extra-title {
		font-size: 18px;
		letter-spacing: 0.4px;
		color: $text-base-color;
	}

	.movie-top-item {
		margin: 9px 0 9px 20px;
	}
}
