@import "../../styles/variables.scss";

p {
  margin: 0;
  padding: 0;
}

textarea:focus,
textarea:active,
a:active,
a:focus {
  outline: none;
}


#scroller * {
	overflow-anchor: none;
}

#anchor {
	overflow-anchor: auto;
}
.UserDiscussionComponent::-webkit-scrollbar {
    -webkit-appearance: none;
}

.UserDiscussionComponent::-webkit-scrollbar:vertical {
    width: 11px;
}


.UserDiscussionComponent::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid $background-gray;
    background-color: rgba(0, 0, 0, .5);
}




.discussion-wrp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
  overflow-y: scroll;
  background-color: $background-gray;
  color: $text-base-color;
  font-family: $base-font-family;
  max-width: inherit;
  width: 100%;
  box-sizing: border-box;
  position: relative;

  img {
    width: 10%;
    height: auto;
    margin-right: 20px;
  }

  .messageBody {
    width: 90%;
    white-space: pre-line;
    font-size: $message-font-size;

    .newMessage {
      display: flex;
      align-items: center;
      padding: 2% 2%;

      textarea {
        resize: none;
        border: none;
        height: 20px;
        overflow-y: scroll;
        background-color: transparent;
      }

      button {
        width: 25%;
        height: 25px;
        padding: 0;
      }
    }
  }

  .messageItem {
    display: flex;
    align-items: center;
    text-align: left;
    border: 2px solid $text-base-color;
    padding: 2% 3%;
    margin-bottom: 20px;
    max-width: 100%;
    overflow-wrap: break-word;
    word-break: break-all;


    .messageInfo {
      font-size: $base-font-size;
      display: flex;
      justify-content: space-between;

      .date {
        color: change-color($text-base-color, $lightness: 30%, $alpha: 0.5);
      }
    }

    .newMessageInput {
      width: 100%;
    }
  }

  .newMessageItem {
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 0;
  }
}