@import "../../../styles/variables.scss";

.top-list {
    font-family: $base-font-family;
    
    
    grid-template-columns: 1fr 1fr;
    display: grid;
    height: 365px;
    background: $background-gray;
    border: 1px solid $border-color;
    border-radius: 2px;
}
.top-list-component{
    grid-column: 2/4;
    margin: 15px;
}
.top-list-img {
    margin: 35px;
    overflow: hidden;
    img{
        width: 120%;
    }
}

.top-list-items {
	margin-right: 21px;
}

.top-list-heading{
    font-family: $base-font-family;
    font-style: normal;
    font-weight: bold;
    font-size: $header-medium;
    line-height: 22px;
    text-align: left;
    margin-bottom: 36px;
    margin-top: 50px;
}