@import '../../../styles/variables.scss';

.top-list {
	font-family: $base-font-family;

	grid-template-rows: 250px 1fr;
	display: grid;
	background: $background-gray;
	border: 1px solid $border-color;
	border-radius: 2px;
	padding: 20px;
}
.top-list-component {
	grid-column: 2/4;
	margin: 15px;
}
.top-list-img {
	img {
	}
}

.top-list-items {
}

.top-list-heading {
	font-family: $base-font-family;
	font-style: normal;
	font-weight: bold;
	font-size: $header-medium;
	line-height: 22px;
	text-align: left;
	margin-bottom: 36px;
	margin-top: 50px;
}
