@import '../../../styles/variables.scss';

.cast-list {
	font-family: $base-font-family;
	font-style: normal;
	font-weight: normal;
	font-size: $base-font-size;
	line-height: 14px;
	letter-spacing: $base-letter-spacing;
}

.cast-list-header {
	padding-top: 1em;
	font-size: $header-medium;
	margin: 1em 0;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;

	span {
		color: $text-base-color;
		font-weight: 600;
	}
}

.cast-items-container {
	width: 100%;
	padding: 1em;
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	cursor: grab;
	&.active {
		cursor: grabbing;
	}
}

.cast-items-container::before,
.cast-items-container::after {
	content: '';
	margin: auto;
}

.cast-items-container::-webkit-scrollbar {
	height: 0;
}

/* Handle */
.cast-items-container::-webkit-scrollbar-thumb {
	background: $border-color;
	border-radius: 10px;
}
