.story-list-wrapper {
    width: 1300px;
    margin: auto;
    display: grid;
    grid-template-rows: 27px 1fr;
    grid-gap: 30px;
    align-content: right;

}

.story-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    grid-gap: 10px;
}