.StarRating {
	border: 1px solid red;
	position: relative;
	.star-user-rating-container {
		display: flex;
	}
	.stars-container {
		position: absolute;
		background-color: green;
		border: 2px solid red;
		top: 0;
		right: 50px;
		width: 400px;
		padding: 30px;
	}
}
