@import '../../../styles/variables.scss';

$text-button-color: rgba(12, 81, 146, 1);

.StarRating {
	display: flex;
	align-items: center;
	position: relative;
	padding: 10px;
	padding-right: 0;
	color: $text-button-color;
	cursor: pointer;
	transition: opacity 0.3s ease;
	&:hover .rating-value {
		opacity: 0.6;
	}
	.star-user-rating-container {
		display: flex;
		font-size: 20px;
		align-items: center;

		.user-rating-value {
			.rating-value {
				margin-left: 5px;
				color: $text-base-color;
				transition: opacity 0.3s ease;
				.label-you {
					position: absolute;
					font-size: 10px;
					opacity: 1;
					top: 4px;
					right: -3px;
					color: $text-secondary-color;
				}
			}
		}

		&:hover .label-rate-this {
			border-bottom: 1px solid $orange;
		}

		.label-rate-this {
			margin-left: 5px;
			font-size: 12px;
			font-weight: 500;
			transition: opacity 2s ease;
		}

		.star-icon {
			color: $orange;
			font-size: 19px;
		}
	}
	.stars-container {
		position: absolute;
		display: flex;
		align-items: center;
		height: 40px;
		background-color: $background-gray;
		border: 1px solid $border-color;
		top: 5px;
		right: 95px;
		width: 265px;
		cursor: default;

		.delete-button {
			padding-left: 15px;
			padding-right: 15px;
			margin-right: 10px;
			border-right: 1px solid $border-color;
			display: flex;
			font-size: 14px;
			align-items: center;
			height: 40px;
			color: grey;
			cursor: pointer;
			&:hover {
				opacity: 0.6;
			}
		}
		.star-item {
			.rating-star-color {
				height: 40px;
				margin-right: 2px;
				color: $orange;
				cursor: pointer;
			}
		}
	}
}
