.AdviceMe {
	width: 100%;
	margin-top: 30px;
	.advice-me-container {
		width: 90%;
		margin: 0 auto;
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
		grid-gap: 30px;
	}
}
