$award-icon-size: 80px;

.item-wrapper {
	display: grid;
	grid-template-columns: $award-icon-size auto;
	align-items: center;
	margin-bottom: 10px;

	.award-icon {
		height: $award-icon-size;
		width: $award-icon-size;
	}
}
