@import '../../../styles/variables.scss';

.search-input {
	font-family: $base-font-family;
	font-size: 16px;
	line-height: 19px;
	box-shadow: rgba($black, 0.04);
	border-radius: 3px;
	background: $white;
	padding: 0.5em;
	margin-bottom: 0.5em;
	outline: none;
	border: 1px solid rgba(0, 0, 0, 0.11);
}

.input-header {
	font-size: $header-large;
	align-self: center;
}
