@import '../../../styles/variables.scss';

.staff-list {
	font-family: $base-font-family;
	font-style: normal;
	font-weight: normal;
	font-size: $base-font-size;
	line-height: 14px;
	letter-spacing: $base-letter-spacing;
	display: flex;
	flex-direction: column;
}

.staff-list-header {
	font-size: $header-medium;
	margin-bottom: 1em;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;

	span {
		color: $text-base-color;
		font-weight: 600;
	}
}

.staff-items-container {
	padding: 1em;
	display: grid;
	grid-template-columns: repeat(auto-fit, 120px);
	justify-content: center;
}

.break {
	flex-basis: 100%;
	height: 0;
}
