.recommend-list{
    grid-area: recommend-list;
    padding:15px;
    min-width: 277px;
    
}
.recommend-heading{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: left;
    }
    