@import '../../../styles/variables.scss';
@import url('https://rsms.me/inter/inter.css');

.survey {
	position: relative;
	display: flex;
	justify-content: center;
	background-color: $background-gray;
	font-family: $base-font-family;
	color: $text-base-color;
	letter-spacing: $base-letter-spacing;

	.survey-background {
		position: absolute;
		width: 100%;
		height: 250px;
		background-color: #ffcc99;
	}

	form,
	.survey-statistics {
		box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
		margin-top: 100px;
		margin-bottom: 150px;
		z-index: 1;
		max-width: 650px;
		width: 80%;
		background-color: $white;

		> * {
			margin-left: 5%;
			margin-right: 5%;
		}

		.form-header {
			height: 8px;
			background-color: $orange-light;
			margin: 0;
		}

		.error-message {
			color: #d93025;
			font-size: $menu-font-size;
		}

		header {
			margin-bottom: 40px;

			h1 {
				font-size: $header-large;
				font-weight: 500;
				letter-spacing: 0.2px;
				margin-bottom: 20px;
				padding-bottom: 10px;
				font-family: $base-font-family;
				word-break: break-word;
			}

			p {
				font-size: $menu-font-size;
				padding-bottom: 2px;
				word-break: break-word;
			}

			.survey-image {
				max-height: 250px;
				align-self: center;
			}
		}

		button {
			position: absolute;
			bottom: 0;
			grid-area: button;
			background-color: $button-background;
			border: none;
			width: 100px;
			height: 38px;
			-webkit-border-radius: 3px;
			-moz-border-radius: 3px;
			border-radius: 3px;
			text-transform: uppercase;
			font-size: $menu-font-size;
			font-family: inherit;
			font-weight: 600;
			color: $white;
			box-shadow: 0px 5px 12px $button-shadow-color;
			letter-spacing: $header-letter-spacing;
		}

		button:hover {
			cursor: pointer;
			box-shadow: 0px 8px 15px rgba($orange-light, 0.6);
		}

		.button {
			margin-bottom: 50px;
			margin-top: 50px;
			height: 80px;
			position: relative;

			p {
				position: absolute;
				top: 0;
				left: 0;
			}
		}

		.info {
			margin-top: 30px;
			margin-bottom: 30px;
			display: flex;
			align-items: center;
			font-size: $menu-font-size;
			font-weight: 500;

			img {
				width: 40px;
				margin-right: 10px;
				border-radius: 50%;
			}

			time {
				color: $text-secondary-color;
				margin-left: 15px;
			}

			.participants {
				margin-left: auto;
				display: flex;
				align-items: center;

				.fa-users {
					font-size: 20px;
					margin-left: 5px;
				}
			}
		}

		.question-container {
			margin-bottom: 40px;

			.question-image {
				max-width: 80%;
				margin-top: 20px;
				margin-bottom: 20px;
			}

			.survey-question {
				word-break: break-word;
				font-size: 20px;
				font-weight: 500;
			}
		}
	}
}
