@import "../../../styles/variables.scss";
@import url('https://rsms.me/inter/inter.css');


.left-sidebar {
    padding-top: 88px;
    display: flex;
    flex-direction: column;
    background-color: $background-gray;
    color: $text-base-color;
    font-weight: 600;
    font-size: $menu-font-size;
    font-family: $base-font-family;
    line-height: 17px;
    letter-spacing: $base-letter-spacing;
    font-style: normal;

    .avatar {
        margin-left: 69px;
        position: relative;

        img {
            width: 55px;
        }

        .fa-chevron-down {
            margin-left: 10px;
            position: absolute;
            top: 50%;
        }

        .fa-chevron-down:hover {
            cursor: pointer;
        }
    }

    .user-name {
        margin-left: 72px;
        margin-bottom: 89px;
    }

    .menu {
        div {
            display: flex;
            align-items: center;
            margin-bottom: 19px;
            height: 23px;
            margin-left: 72px;

            p:hover {
                cursor: pointer;
            }

            p {
                margin: 0;
            }

            svg {
                position: absolute;
                left: 43px;
            }

            .notifications {
                width: 31px;
                height: 14px;
                background: $orange;
                border-radius: 5px;
                font-weight: bold;
                font-size: 12px;
                line-height: 15px;
                text-align: center;
                color: $white;
                text-align: center;
                margin: 0;
                margin-left: 22px;
            }
        }
    }
}

