.slider-wrapper {
    width: 67px;
    height: 27px;
    border: 1px solid rgba(0, 0, 0, 0.11);
    box-sizing: border-box;
    border-radius: 2px;
    display: grid;
    grid-column: 1/2;
    grid-template-columns: 34px 33px;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}

.slider-right {
    padding: 2px;
    cursor: pointer;
}

.slider-left {
    border-right: 1px solid rgba(0, 0, 0, 0.11);
    padding: 2px;
    cursor: pointer;
}