@import '../../styles/variables.scss';

.cast-item{
    font-family: $base-font-family;
    font-style: normal;
    font-weight: normal;
    font-size: $base-font-size; 
    line-height: 14px;
    letter-spacing: $base-letter-spacing;
    margin: .5em;
    box-shadow: 2px 1px 5px $border-focus-color;
    padding: .5em;
    border-radius: 10px;
    width: 100px;
}

.cast-item-image{
    width: 70px;
    height: 70px; 
}

.cast-item-name{
    
    color: $text-base-color;
    border-bottom: 1px solid $border-color;
}

.cast-item-role{
    color: $text-secondary-color
}