@import '../../../styles/variables.scss';

.advanced-movie-search {
	border-right: 1px solid $border-color;
	margin-right: 20px;
	width: 300px;
}

.advanced-movie-search-block {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid $orange-light;
	padding: 20px;
}

.search-button {
	margin-top: 10px;
	color: $white;
	background: $button-background;
	border: 1px solid $border-color;
	box-shadow: 5px 5px 5px $button-shadow-color;
	padding: 0.5em;
	font-size: 12px;
}

.search-button:hover {
	cursor: pointer;
}
