@import '../../../styles/variables.scss';

p {
	margin: 0;
	padding: 0;
}

textarea:focus,
textarea:active,
a:active,
a:focus {
	outline: none;
}

#scroller * {
	overflow-anchor: none;
}

#anchor {
	overflow-anchor: auto;
}
.user-discussion-component::-webkit-scrollbar {
	-webkit-appearance: none;
}

.user-discussion-component::-webkit-scrollbar:vertical {
	width: 11px;
}

.user-discussion-component::-webkit-scrollbar-thumb {
	border-radius: 8px;
	background-color: rgba(0, 0, 0, 0.5);
}

.user-discussion-component {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	color: $text-base-color;
	font-family: $base-font-family;
	justify-self: end;
	max-height: 500px;
	width: 100%;
	border: 1px solid $border-color;
	border-radius: 4px;
	.message-container {
		padding-right: 5px;
		overflow-y: scroll;
		padding: 20px 28px 0px 20px;
	}

	.message-container::-webkit-scrollbar {
		width: 4px;
	}

	.message-container::-webkit-scrollbar-thumb {
		background: $border-color;
		border-radius: 10px;
	}
	.message-item-reverse {
		padding-right: 20px;
		flex-direction: row-reverse;
		.message-body {
			margin-left: 0px !important;
			.message-info {
				text-align: end;
				margin-right: 35px;
			}
			.body {
				margin-right: 20px;
			}
		}
	}

	.message-item {
		border: 1px solid $border-color;
		padding: 5px;
		display: flex;
		align-items: center;
		text-align: left;
		margin-bottom: 15px;
		width: 100%;
		border-radius: 4px;
		img {
			border: 1px solid $border-color;
			align-self: flex-start;
			width: 35px;
			height: auto;
			margin-right: 10px;
			border-radius: 50%;
			margin: -15px -25px;
		}

		.message-body {
			width: 100%;
			box-sizing: border-box;
			font-size: $base-font-size;
			padding-bottom: 10px;
			margin-left: 35px;
			.body {
				white-space: normal;
				word-break: break-all;
			}

			.name {
				font-weight: bold;
				letter-spacing: $base-letter-spacing;
			}

			.new-message {
				display: flex;
				align-items: center;
				padding: 2% 2%;
				justify-content: space-around;
				textarea {
					background-color: #fff;
					resize: none;
					margin-right: 10px;
					border: none;
					height: 20px;
					overflow-y: auto;
					background-color: transparent;
				}

				button {
					background-color: $button-background;
					color: $white;
					box-shadow: 0px 5px 12px $button-shadow-color;
					border-radius: 15px;
					width: 30px;
					height: 30px;
					border: none;
					outline: none;
					font-weight: bold;
					&:hover {
						background-color: rgb(216, 86, 0);
					}
				}
			}
		}

		.message-info {
			margin-bottom: 5px;
			.date {
				color: change-color($text-base-color, $lightness: 30%, $alpha: 0.5);
				font-size: $message-font-size;
			}
		}

		.new-message-input {
			&::placeholder {
				color: $input-placeholder-color;
			}
			box-sizing: border-box;
			width: 80%;
			height: 50px;
			margin-top: 5px;
		}
	}

	.new-message-item {
		box-shadow: 2px 2px 2px $input-shadow-color;
		box-sizing: border-box;
		border: 1px solid $border-color;
		margin-bottom: 0;
		.message-body {
			padding-bottom: 0px;
			margin-left: 0px;
		}
		outline: none;
	}

	svg {
		width: 15px;
		height: 15px;
		fill: white;
		margin-right: 3px;
	}
}
