@import '../../../styles/variables';

.edit-form {
	font-family: $base-font-family;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	margin: 0 auto;
	padding: 50px;
	box-sizing: border-box;
	flex: 1;

	img {
		max-width: 100%;
	}

	textarea {
		height: 130px;
		outline: none;
		width: 100%;
		color: $text-base-color;
		box-sizing: border-box;
		font-size: $form-font-size;
		font-family: $base-font-family;
		letter-spacing: $input-letter-spacing;
		box-shadow: 0px 0px 10px $input-shadow-color;
		border: 1px solid $border-color;
		border-radius: 3px;
		padding: 12px 15px;

		&::placeholder {
			color: $input-placeholder-color;
		}

		&:focus {
			border: 1px solid $border-focus-color;
		}
	}

	button {
		height: 43px;
		border-radius: 55px;
		width: 100px;
		border: none;
		outline: none;
		font-size: $header-medium;
		font-weight: bold;
	}

	.footer {
		align-self: stretch;
		height: 43px;

		.checker {
			cursor: pointer;
			float: left;
			color: $text-secondary-color;
			input {
				cursor: pointer;
			}
		}

		div {
			float: right;
		}

		.save-btn {
			background-color: $button-background;
			color: $white;
			box-shadow: 0px 5px 12px $button-shadow-color;
			&:hover {
				background-color: rgb(216, 86, 0);
			}
		}

		.cancel-btn {
			color: $text-secondary-color;
			&:hover {
				background-color: $background-gray;
			}
		}
	}
	.activity {
		border: 2px solid $orange-light;
		padding: 5px;
		margin-top: 15px;
		span {
			margin-left: 10px;
		}
		.fontAwesomeIcon {
			cursor: pointer;
		}

		.fontAwesomeIcon:hover {
			color: $orange-light;
		}
	}
}
