
# wtite in into .env file at this directory

DB_NAME =           # create your db name
DB_USERNAME =       # user in posgres
DB_PASSWORD =       # password
DB_HOST = localhost # default
SECRET_KEY = SECRETKEY
MOCK_API_KEY = 11d5b4ce87f77b5efa7ddaef0cadb6b3

DATABASE_URL = # prod db url