.story-list-item-wrapper {
    position: relative;
    top: 0;
    left: 0;
}

.card {
    display: grid;
    grid-template-columns: 30px 30px 30px 30px;
    grid-template-rows: 30px 65px 65px 30px;
    align-items: center;
    justify-items: center;
}

.story-pic {
    height: 190px;
    width: 120px;
    grid-row: 1/-1;
    grid-column: 1/-1;
    z-index: 1;
}

.avatar-story {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    grid-row: 1/2;
    grid-column: 1/2;
    z-index: 2;
}

.story-name {
    font-family: Inter;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.4px;
}