.upload-image {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;

	& + .upload-image-button {
		height: 43px;
		border-radius: 55px;
		display: inline-flex;
		align-items: center;
		padding: 0 15px;
		border: none;
		outline: none;
		font-size: $header-medium;
		font-weight: bold;
		background-color: $button-background;
		color: $white;
		box-shadow: 0px 5px 12px $button-shadow-color;
		cursor: pointer;
	}
	&:focus + .upload-image-button,
	& + .upload-image-button:hover {
		background-color: rgb(216, 86, 0);
	}
	&:disabled + .upload-image-button {
		pointer-events: none;
		background-color: rgba(0, 0, 0, 0.11);
	}
}
.upload-error {
	color: rgba(255, 0, 0, 0.6);
	padding: 0 15px;
}
