@import '../../../styles/variables.scss';

$btn-height: 36px;

.create-top-button {
	border: 1px solid $border-color;
	box-shadow: 0px 0px 11px $input-shadow-color;
	color: $text-secondary-color;
	border-radius: 2px;
	padding: 6px;
	font-size: 24px;
	line-height: 15px;
	align-items: center;
	letter-spacing: $header-letter-spacing;
	display: flex;
	justify-content: center;
	height: 45px;
	margin-top: 20px;
}
.user-tops {
	padding: 1% 1%;
	font-family: $base-font-family;
	font-size: 16px;
	line-height: 19px;
	color: rgba(0, 0, 0, 0.4);
	letter-spacing: 0.533333px;
	margin-bottom: 20px;
	.btn {
		font-size: 18px;
		font-weight: 600;
		line-height: 22px;

		display: inline-flex;

		height: $btn-height;
		margin: 0;
		padding: 5px;

		cursor: pointer;
		transition: all 0.4s;
		text-align: center;
		text-decoration: none;
		letter-spacing: 0.4px;

		color: #fff;
		border: none;
		border-radius: 55px;
		background-color: #ff6501;

		justify-content: center;
	}
}
