@import '../../../../styles/variables';
@import '../../../AdvancedSearch/AdvancedMovieSearch/CustomCheckbox.scss';

$height: 75vh;
$width: 50vw;
$btn-height: 36px;
$border: 1px solid $orange-light;
$border-radius: 5px;

.modal-wrp {
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(128, 128, 128, 0.507);
	z-index: 8;
	width: 100vw;
	height: 100vh;
}

.modal-story {
	display: block;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 700px;
	transform: translate(-50%, -50%);
	background-color: $background-gray;
	z-index: 9;

	.cancel-btn {
		position: absolute;
		top: 10px;
		right: 10px;
		background-color: transparent;
		border: none;
		width: 20px;
		height: 20px;
		svg {
			height: 100%;
			width: 100%;
		}
	}

	.sketch-picker {
		position: absolute;
		top: 20px;
		right: 150px;
	}

	.font-picker {
		right: 30px;
	}

	.story-editor-btns {
		width: 280px;
		display: flex;
		justify-content: space-between;
		position: absolute;
		top: 30px;
		left: 110px;
		button,
		.color-picker-btn {
			outline: none;
			border: none;
			padding: 0;
			margin: 0;
			background-color: white;
			box-shadow: none;
			height: 50px;
			width: 50px;
			border: 1px $border-color solid;
			font-family: Georgia, serif;
			font-size: 2em;
			font-weight: 600;
			cursor: pointer;
			&:hover {
				background-color: rgb(245, 245, 245);
			}
			svg {
				width: 40%;
			}

			.color-picker-btn-preview {
				height: 100%;
				width: 100%;
				text-align: center;
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}

	.btn-wrp {
		position: absolute;
		bottom: 0;
		left: 0;
		display: flex;
		justify-content: space-around;
		flex-direction: column;
		width: 100%;
		.extra {
			width: 100%;
			display: flex;
			justify-content: center;
		}
	}

	.btn {
		font-size: 18px;
		font-weight: 600;
		line-height: 22px;

		position: absolute;
		bottom: 30px;
		left: 163px;

		min-width: 174px;
		height: $btn-height;
		margin: 0;
		padding: 0;

		cursor: pointer;
		transition: all 0.4s;
		text-align: center;
		text-decoration: none;
		letter-spacing: 0.4px;

		color: #fff;
		border: none;
		border-radius: 15px;
		background-color: #ff6501;

		justify-content: center;
	}
	.btn:hover {
		background-color: rgb(216, 86, 0);
	}
	.btn:disabled {
		background-color: #efd69a;
	}

	.upload-image-wrp {
		margin-top: 75px;
		position: relative;
		border: 1px solid $border-color;
		height: 500px;
		width: 280px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		.upload-image-button {
			position: absolute;
			top: -75px;
			right: 58px;
			outline: none;
			border: none;
			padding: 0;
			margin: 0;
			background-color: white;
			box-shadow: none;
			height: 48px;
			width: 48px;
			border-radius: 0;
			z-index: 2;
			display: flex;
			justify-content: center;
			&:hover {
				background-color: rgb(245, 245, 245);
			}
			svg {
				width: 50%;
				height: 50%;
				color: #353535;
			}
		}
	}

	.nav-block-wrp {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		height: 50px;
		padding: 10px;
		box-sizing: border-box;
		font-size: larger;

		.fontAwesomeIcon {
			cursor: pointer;
		}

		.fontAwesomeIcon:hover {
			color: $orange-light;
		}
	}

	.content-extra {
		padding: 25px;
		display: flex;
		height: calc(100% - 50px);
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;

		.extra-header {
			font-size: $header-large;
			position: absolute;
			top: 10px;
		}

		.extra-item {
			width: 200px;
			border: $border;
			padding: 5px;
			border-radius: $border-radius;
			font-size: $header-medium;
			margin-bottom: 10px;
			cursor: pointer;
			position: relative;
			left: 0;
			transition: all 0.5s ease;
			display: flex;
			justify-content: space-between;
		}

		.extra-item:hover {
			left: 20px;
		}
	}

	.choose-extra-option-wrp {
		.create {
			display: flex;
			justify-content: center;

			span {
				border: $border;
				border-radius: $border-radius;
				padding: 5px;
				cursor: pointer;
				position: relative;
				left: 0;
				transition: all 0.5s ease;
			}

			span:hover {
				left: 20px;
			}
		}

		.recent-created {
			display: flex;
			justify-content: center;
			flex-direction: column;
			align-items: center;
			margin-top: 40px;

			span {
				border: $border;
				border-radius: $border-radius;
				padding: 5px;
				margin-bottom: 10px;
				cursor: pointer;
				position: relative;
				left: 0;
				transition: all 0.5s ease;
			}

			span:hover {
				left: 20px;
			}
		}
	}
	.question-type {
		width: 30%;
		background: $background-gray;
		height: 30px;
		font-family: $base-font-family;
		font-weight: 500;
		font-size: $menu-font-size;
		border: none;
		box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
		cursor: pointer;

		&:focus {
			outline: none;
		}
	}
	.movie-add-wrp {
		padding: 10px;
		.edit-form {
			padding: 0;
			textarea {
				width: 100%;
				height: 50px;
				margin-bottom: 5px;
			}
		}
	}
}
