.story-list-wrapper {
	width: 90%;
	box-sizing: content-box;
	margin: 0 5%;
	display: grid;
	grid-template-rows: 27px 1fr;
	grid-template-areas:
		'.'
		'stories';
	grid-gap: 14px;
	align-content: right;
	overflow: hidden;

	.voting-wrp {
		div {
			width: 120px;
			height: 86%;
			transform: none !important;
		}
		.story-voting-option {
			display: none;
		}
		.story-voting {
			position: absolute;
			top: 0;
			width: 100%;
			height: 209px;
		}
		.story-voting-header {
			font-size: 15px;
			transform: none !important;
		}
		.story-name {
			font-family: Inter;
			font-weight: 500;
			font-size: 10px;
			line-height: 15px;
			letter-spacing: 0.4px;
			min-height: 30px;
		}
	}
}

.story-list {
	display: flex;
	overflow: hidden;
	grid-area: stories;
	justify-content: space-between;

	.story-list-scroll {
		display: flex;
		width: 100%;
		margin-left: auto;
		position: relative;
		left: 15px;
		overflow-x: scroll;
		overflow-y: hidden;
		white-space: nowrap;
		transition: all 0.2s;
		transform: scale(0.98);
		will-change: transform;
		user-select: none;
		margin-left: 20px;

		&:first-child {
			margin-left: 0 !important;
		}

		&.active {
			cursor: grabbing;
			transform: scale(1);

			> *:hover {
				cursor: grabbing;
				transform: none;
			}
		}

		&::-webkit-scrollbar {
			display: none;
		}

		> * {
			margin-left: 15px;
			max-width: 118px;
			margin-top: 4px;
			margin-bottom: 4px;
			cursor: pointer;

			&:hover {
				transform: scale(1.02);
				transition: all 0.3s;
			}

			img {
				-webkit-user-drag: none;
				-khtml-user-drag: none;
				-moz-user-drag: none;
				-o-user-drag: none;
			}

			.story-name {
				z-index: 1;
				width: 100px;
				display: flex;
				align-items: flex-start;
				justify-content: center;
				text-align: center;
				white-space: pre-wrap;
				word-wrap: break-word;
			}
		}
	}
}
