.reaction-box-wrapper {
	position: relative;
}
.reaction-box {
	position: absolute;
	width: 390px;
	height: 55px;
	top: -40px;
	left: -40px;
	padding-left: 20px;
	padding-right: 20px;
	background: #e9e7e4;
	border-radius: 28px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
	grid-gap: 10px;
	align-items: center;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

	.item-wrapper {
		display: flex;
	}
}
