@import '../../../styles/variables.scss';
@import url('https://rsms.me/inter/inter.css');

.story-viewer {
	height: 100%;
	width: 100%;
	background-color: #383838b5;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	left: 0;
	top: 0;
	color: $white;
	font-family: $base-font-family;
	z-index: 20;
	.star-user-rating-container {
		margin-right: 20px;
	}
	.label-rate-this {
		display: none;
	}
	.StarRating {
		width: 60px;
		height: 30px !important;
	}
	.label-you {
		display: none;
	} 
	.stars-container {
		width: 350px !important;
		top: -40px !important;
		left: -290px !important;
		.delete-button {
			padding: 5px !important;
		}
	}
	.WatchListIcon {
		position: relative;
		float: left;
		margin-right: 10px;
	}
	.movie-activity-container {
		background-color: rgba(240, 248, 255, 0.425);
		left: -10px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		min-width: 350px;
		word-wrap: break-word;
		position: relative;
		bottom: 50px;
		box-sizing: border-box;
		height: 38px;
		a {
			overflow: hidden;
    		text-overflow: ellipsis;
		}
	}
	.send-btn {
		border: none;
		margin-left: 8px;
		position: relative;
		top: 2px;
		background-color: transparent;
		svg {
			width: 18px;
			height: 18px;
		}
	}
	.reaction-modal {
		position: absolute;
		top: 200px;
		z-index: 999;
	}

	.story-reactions {
		height: 150px;
		margin-right: 20px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		background-color: rgba(197, 197, 197, 0.295);
		border-radius: 20px;
		margin-bottom: 10px;
		span {
			margin-right: 10px;
			cursor: pointer;
			svg {
				width: 40px;
				height: 40px;
				transition: all linear 0.2s;
				&:hover {
					transform: scale(1.2);
				}
			}
		}
	}

	.story-voting-wrp + .story-reaction-wrp {
		bottom: 0;
		margin-left: 10px;
	}

	.story-reaction-wrp {
		position: absolute;
		width: 350px;
		bottom: 0;
		margin-left: 0;
		.chat-input {
			input {
				background-color: transparent;
				border: 1px solid $border-color;
				outline: none;
				width: 300px;
				margin-bottom: 10px;
				height: 30px;
				border-radius: 10px;
				padding: 0 10px;
			}

			.story-reactions {
				position: relative;
			}
			width: 100%;
		}
	}

	.svg-inline--fa {
		font-size: 24px;
	}

	.svg-inline--fa:hover {
		cursor: pointer;
	}

	.left-arrow {
		align-self: stretch;
		display: grid;
		grid-template-rows: 50% 50%;
		grid-template-areas:
			'.'
			'arrow';

		.fa-chevron-left {
			grid-area: arrow;
			margin-right: 20px;
		}
	}

	.stories-right-icons {
		align-self: stretch;
		display: grid;
		grid-template-rows: 50% 50%;

		.right-arrow {
			margin-top: 0;
			margin-left: 20px;
		}

		.close-stories {
			margin-top: 86px;
			margin-left: 20px;
		}
	}

	.story-slider {
		width: 350px;
		height: 98%;
		overflow: hidden;
		white-space: nowrap;

		.slider-wrapper {
			display: flex;
			width: 100%;
		}
	}

	.story {
		display: grid;
		grid-template-areas:
			'header'
			'story';
		width: 100%;

		.user-link {
			text-decoration: none;
			display: inherit;
			color: inherit;
		}

		header {
			grid-area: header;
			display: flex;
			align-items: center;
			margin-bottom: 15px;
			font-size: $menu-font-size;
			font-weight: 600;

			img {
				width: 45px;
				margin-right: 5px;
				display: flex;
				overflow: hidden;
				border-radius: 50%;
			}

			time {
				margin-left: 10px;
				font-weight: 300;
				color: #c8c8c8;
			}

			.ellipsis {
				margin-left: auto;
			}

			.fa-ellipsis-h {
				font-size: 24px;
			}
		}

		main {
			display: flex;
			grid-area: story;
			height: 622px;
			width: 350px;
			background-position: center;
			background-size: 100%;
			background-repeat: no-repeat;
			.seen {
				padding-left: 10px;
				// background-color: rgba($color: $black, $alpha: 0.5);
				width: 100%;
				height: 35px;
				bottom: 2px;
				display: flex;
				align-items: center;

				.fa-eye {
					font-size: 18px;
					margin-right: 5px;
				}

				.seen-by-amount {
					font-size: $base-font-size;
				}

				.seen-by-info {
					display: flex;
					align-items: center;
				}

				.seen-by-info:hover {
					cursor: pointer;
				}
			}
		}
	}
}
