@import '../../styles/variables.scss';

.staff-list{
    font-family: $base-font-family;
    font-style: normal;
    font-weight: normal;
    font-size: $base-font-size; 
    line-height: 14px;
    letter-spacing: $base-letter-spacing;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}

.staff-list-header{
    font-size:$header-medium;
    margin-bottom: 1em;
    font-weight: 600;
    text-transform: uppercase;
}

.staff-items-container{
    padding: 1em; 
    display: flex;
    flex-direction: column;
    border-top: 2px solid $text-secondary-color;
    align-items: center;
}

