@import '~../../styles/variables';

.edit-form {
  font-family: $base-font-family;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid $border-color;
  margin: 0 auto;
  padding: 50px;
  box-sizing: border-box;

  img {
    max-width: 100%;
  }

  input[type='text'] {
    height: 43px;
    margin-bottom: 50px;
    outline: none;
    width: 100%;
    color: $text-base-color;
    box-sizing: border-box;
    font-size: $form-font-size;
    letter-spacing: $input-letter-spacing;
    box-shadow: 0px 0px 10px $input-shadow-color;
    border: 1px solid $border-color;
    border-radius: 3px;
    padding: 12px 15px;

    &::placeholder {
      color: $input-placeholder-color
    }

    &:focus {
      border: 1px solid $border-focus-color;
    }
  }

  button {
    height: 43px;
    border-radius: 55px;
    width: 100px;
    border: none;
    outline: none;
    font-size: $header-medium;
    font-weight: bold;
  }

  .footer {
    align-self: stretch;
    height: 43px;

    .checker {
      float: left;
      color: $text-secondary-color;
    }

    div {
      float: right;
    }

    .save-btn {
      background-color: $button-background;
      color: $white;
      box-shadow: 0px 5px 12px $button-shadow-color;
      &:hover {
        background-color: rgb(216, 86, 0);
      }
    }

    .cancel-btn {
      color: $text-secondary-color;
      &:hover {
        background-color: $background-gray;
      }
    }
  }
}


.upload-image {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;

  & + .upload-image-button {
    height: 43px;
    border-radius: 55px;
    display: inline-flex;
    align-items: center;
    padding: 0 15px;
    border: none;
    outline: none;
    font-size: $header-medium;
    font-weight: bold;
    background-color: $button-background;
    color: $white;
    box-shadow: 0px 5px 12px $button-shadow-color;
    cursor: pointer;
  }
  &:focus + .upload-image-button,
  & + .upload-image-button:hover {
    background-color: rgb(216, 86, 0);
  }
  &:disabled + .upload-image-button {
    pointer-events: none;
    background-color: rgba(0, 0, 0, .11);
  }
}
.upload-error {
  color: rgba(255, 0, 0, .6);
  padding: 0 15px;
}