@import '../../../../styles/variables';

$height: 75vh;
$width: 50vw;
$btn-height: 36px;

.modal-story {
	display: block;
	position: fixed;
	top: 50%;
	left: 50%;
	width: $width;
	height: $height;
	transform: translate(-50%, -50%);
	background-color: $background-gray;
	z-index: 9;

	.content-wrp,
	.content-wrp .edit-form {
		height: calc(75vh - 36px);
	}

	.btn-wrp {
		position: absolute;
		bottom: 0;
		left: 0;
		display: flex;
		justify-content: space-around;
		flex-direction: row;
		width: 100%;
	}

	.btn {
		font-size: 18px;
		font-weight: 600;
		line-height: 22px;

		display: inline-flex;

		min-width: 174px;
		height: $btn-height;
		margin: 0;
		padding: 0;

		cursor: pointer;
		transition: all 0.4s;
		text-align: center;
		text-decoration: none;
		letter-spacing: 0.4px;

		color: #fff;
		border: none;
		border-radius: 55px;
		background-color: #ff6501;

		justify-content: center;
	}

	.upload-image-wrp {
		width: 100%;
		display: flex;
		justify-content: center;
		height: 200px;
		flex-direction: column;
		align-items: center;
	}

	.nav-block-wrp {
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		height: 50px;
		padding: 10px;
		box-sizing: border-box;
		font-size: larger;
		.fontAwesomeIcon {
			cursor: pointer;
		}
	}

	.content-extra {
		padding: 25px;
		display: flex;
		flex-direction: column;
		align-items: center;
		.extra-item {
			width: 200px;
			border: 1px solid $orange-light;
			padding: 5px;
			border-radius: 5px;
			margin-bottom: 10px;
			cursor: pointer;
			position: relative;
			left: 0;
			transition: all 0.5s ease;
			display: flex;
			justify-content: space-between;
		}
		.extra-item:hover {
			left: 20px;
		}
	}
}
