@import '../../styles/variables';

.prev-wrp {
	width: 100%;
	height: calc(100% - 50px);
	display: flex;
	justify-content: center;
}
.story-voting-wrp {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
}
.story-voting {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
	width: 350px;
	height: 622px;
	background-position: center;
	background-size: 100%;
	background-repeat: no-repeat;
	button:hover {
		cursor: pointer;
	}
}

.story-voting-header {
	position: absolute;
	top: 0;
	left: 0;
	font-family: $base-font-family;
	font-size: 48px;
	line-height: 58px;
	color: $white;
}

.story-voting-options-list {
	max-width: 350px;
	text-align: center;
	display: flex;
}

.back-to-editor-button {
	border: none;
	outline: none;
	background: none;
	color: white;
	position: absolute;
	top: 0px;
	left: 0px;
}
