@import '../../../../../../styles/variables.scss';
.description-wrapper {
	display: flex;
	font-family: $base-font-family;
	font-size: $base-font-size;
	letter-spacing: $base-letter-spacing;
}
.achievement {
	font-weight: bold;
	color: $text-base-color;
}
.nominationName {
	color: $text-secondary-color;
	margin-right: 0.5em;
}
.hyphen {
	color: $text-secondary-color;
	margin-right: 0.5em;
}
