@import '../../../../styles/variables.scss';

.mapboxgl-canvas-container {
	text-align: center;
	* {
		outline: none;
	}
}

.mapboxgl-canvas {
	position: static !important;
	left: 0;
	height: 400px;
}
