@keyframes lds-double-ring {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @-webkit-keyframes lds-double-ring {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes lds-double-ring_reverse {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }
  @-webkit-keyframes lds-double-ring_reverse {
    0% {
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }
  .lds-double-ring {
    position: relative;
  }
  .lds-double-ring div {
    box-sizing: border-box;
  }
  .lds-double-ring > div {
    position: absolute;
    width: 168px;
    height: 168px;
    top: 16px;
    left: 16px;
    border-radius: 50%;
    border: 8px solid #000;
    border-color: #fe0d02 transparent #fe0d02 transparent;
    -webkit-animation: lds-double-ring 1s linear infinite;
    animation: lds-double-ring 1s linear infinite;
  }
  .lds-double-ring > div:nth-child(2),
  .lds-double-ring > div:nth-child(4) {
    width: 148px;
    height: 148px;
    top: 26px;
    left: 26px;
    -webkit-animation: lds-double-ring_reverse 1s linear infinite;
    animation: lds-double-ring_reverse 1s linear infinite;
  }
  .lds-double-ring > div:nth-child(2) {
    border-color: transparent #feb200 transparent #feb200;
  }
  .lds-double-ring > div:nth-child(3) {
    border-color: transparent;
  }
  .lds-double-ring > div:nth-child(3) div {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .lds-double-ring > div:nth-child(3) div:before,
  .lds-double-ring > div:nth-child(3) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    top: -8px;
    left: 72px;
    background: #fe0d02;
    border-radius: 50%;
    box-shadow: 0 160px 0 0 #fe0d02;
  }
  .lds-double-ring > div:nth-child(3) div:after {
    left: -8px;
    top: 72px;
    box-shadow: 160px 0 0 0 #fe0d02;
  }
  .lds-double-ring > div:nth-child(4) {
    border-color: transparent;
  }
  .lds-double-ring > div:nth-child(4) div {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .lds-double-ring > div:nth-child(4) div:before,
  .lds-double-ring > div:nth-child(4) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 8px;
    height: 8px;
    top: -8px;
    left: 62px;
    background: #feb200;
    border-radius: 50%;
    box-shadow: 0 140px 0 0 #feb200;
  }
  .lds-double-ring > div:nth-child(4) div:after {
    left: -8px;
    top: 62px;
    box-shadow: 140px 0 0 0 #feb200;
  }
  .lds-double-ring {
    width: 80px !important;
    height: 80px !important;
    -webkit-transform: translate(-40px, -40px) scale(0.4) translate(40px, 40px);
    transform: translate(-40px, -40px) scale(0.4) translate(40px, 40px);
  }