@import '../../styles/variables.scss';

.header {
	font-family: $base-font-family;
	display: flex;
	height: 72px;
	justify-content: space-around;
	align-items: center;
	border: 1px solid $border-color;
	box-shadow: 0px 0px 10px $input-shadow-color;
}

.title {
	font-weight: 900;
	font-size: 24px;
	letter-spacing:$header-letter-spacing;
}

.headerButtons {
	height: 100%;
	position: relative;
	outline: none;
	border: none;
	background: $white;
}

.headerButtons,
.userInfo {
	font-weight: 600;
	font-size: $menu-font-size;
	line-height: 17px;
	align-items: center;
	text-align: center;
	letter-spacing: $base-letter-spacing;
	color: $text-base-color;
}

.headerButtons:hover {
	background: #f7f8f9;
}

.arrowDown {
	margin-left: 4px;
}

.userInfo {
	display: flex;

	span {
		color:$text-base-color;
		margin-left: 10px;
		margin-top: 15px;
	}
	img {
		width: 55px;
	}
}

.filter {
	border: 1px solid $border-color;
	box-shadow: 0px 0px 11px $input-shadow-color;
	border-bottom-right-radius: 2px;
	border-top-right-radius: 2px;
	border-bottom-left-radius: 0px;
	border-top-left-radius: 0px;
	display: inline-block;
	border-left: none;
	padding: 6px;
	width: 78px;
	font-size: $base-font-size;
	line-height: 15px;
	align-items: center;
	letter-spacing:$input-letter-spacing;
	color: $text-base-color;
}

.searchArea {
	display: flex;
	margin-left: 5%;

	.search {
		border: 1px solid $border-color;
		box-shadow: 0px 0px 11px $input-shadow-color;
		border-bottom-left-radius: 2px;
		border-top-left-radius: 2px;
		border-bottom-right-radius: 0px;
		border-top-right-radius: 0px;
		font-size:$base-font-size;
		line-height: 15px;
		align-items: center;
		letter-spacing: $input-letter-spacing;
		color: $input-placeholder-color;

		.searchInput {
			border: none;
			margin-bottom: 5px;
			width: 240px;
		}
		.searchInput:focus {
			outline: none;
		}
		.searchIcon {
			margin: 6px 10px 0px 10px;
		}
	}
}

.hover:hover {
	cursor: pointer;
}

.notifications {
	display: flex;

	.notifyIcon {
		display: grid;
		margin-left: 21px;
		justify-items: center;
	}

	.messageIcon {
		margin: 2px;
	}
}
.headerButtons:hover {
	.modal {
		transform: scaleY(1);
	}
}
.modal {
	font-family: $base-font-family;
	background: #f7f8f9;
	border: 1px solid $border-color;
	box-shadow: 2px 1px 8px $input-shadow-color;
	border-radius: 3px;
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 10;
	transform: scaleY(0);
	transform-origin: 0 0;
	transition: 0.5s ease-in-out;
	text-align: left;
	cursor: default;
	font-size:$base-font-size;
	line-height: 15px;
	width: 150px;
	padding: 10px;

	div {
		padding-top: 10px;
	}
}

.inactive {
	color: $text-secondary-color;
}

@media (max-width: 915px) {
	.title {
		display: none;
	}
	.notifications {
		.notifyIcon {
			margin-left: 5px;
		}
	}
	.searchArea {
		margin-left: 0px;
	}
}

@media (max-width: 765px) {
	.headerButtons {
		display: none;
	}
	.searchArea {
		.search {
			.searchInput {
				width: 180px;
			}
		}
	}
}
