.event-page {
    width: 70%;
    margin: 2% auto 0;
}

// .event-page-header {
//     .header-photo {
//         width: 100%;
//         max-height: 200px;
//     }

//     .header-basic {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;

//         .header-title {
//             // margin: 0 auto 0 15px;
//             // font-size: 22px;
//             // display: block;
//             margin: 10px 0 10px 25px;
//             font-size: 22px;
//         }

//         .header-meta-info {
//             display: flex;
//             align-items: center;

//             .meta-info-item {
//                 margin-right: 15px;
//                 padding: 5px 10px;
//                 display: flex;
//                 align-items: center;
//                 border: 1px solid silver;
//                 border-radius: 4px;
//                 cursor: pointer;

//                 &:last-child {
//                     margin-right: 0;
//                 }

//                 &:hover {
//                     background-color: #f9f9f9;
//                 }

//                 .meta-info-name {
//                     margin-left: 10px;
//                 }
//             }
//         }
//     }
// }

.event-page-header {
    .header-photo {
        width: 100%;
        max-height: 200px;
    }

    .header-basic {
        .header-title {
            display: block;
            margin: 10px 0;
            font-size: 22px;

        }
        
        .header-meta-info {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .meta-info-left {
                display: flex;
                justify-content: left;
                align-items: center;

                .meta-info-item {
                    &:last-child {
                        border-left: none;
                    }
                }
            }

            .meta-info-item {
                padding: 5px 10px;
                display: flex;
                align-items: center;
                border: 1px solid silver;
                cursor: pointer;

                &:last-child {
                    margin-right: 0;
                }

                &:hover {
                    background-color: #f9f9f9;
                }

                .meta-info-name {
                    margin-left: 10px;
                }
            }
        }
    }
}

.event-page-main {
    margin-top: 5px;
    border: 1px solid #000;
}

.event-page-tabs {
    .event-page-tab-list {
        display: flex;
        justify-content: spac  e-around;
        align-items: center;
        list-style-type: none;

        .event-page-item {
            width: calc(100% / 4);
            text-align: center;
            
            border: {
                right: 1px solid #000;
                bottom: 1px solid #000;
            }

            &:last-child {
                border-right: none;
            }

            .event-page-tab {
                display: block;
                padding: 15px 0;
                text-decoration: none;
                color: #000;
                cursor: pointer;
            }
            
            .event-page-tab-active {
                background-color: #f9f9f9;    
            }
        }
    }
}

.event-page-tab-body {
    margin: 20px 0;
}
