@import "../../../styles/variables.scss";

.filmSection {
    margin: 50px auto;
    width: 60vw;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    background-color: $background-gray;
    border: 1px solid $border-color;
    border-radius: 3px;
    padding: 35px 40px;
}

.poster{
    width: 25vw;
}

.descriptionList {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.descriptionItem {
    display: flex;
    justify-content: space-between;
}

.descriptionTitle {
    font-family: $base-font-family;
    font-size: $header-medium;
    color: $text-base-color;
    letter-spacing: $base-letter-spacing;
}

.descriptionBody {
    text-align: left;
    width: 72%;
    font-family: $base-font-family;
    font-size: $header-medium;
    color: $text-base-color;
    letter-spacing: $base-letter-spacing;
}

.yellowStar {
    color: #FFCD1E;
}

.greyStar {
    color: rgba(0, 0, 0, 0.5);
}

.videoWrapper {
    margin-top: 35px;
    grid-column: span 2;
}

.video {
    width: 50vw;
    height: 30vw;
}