@import '../../../styles/variables.scss';

.recommend-list {
	grid-area: recommend-list;
	margin-left: 20px;
}
.recommend-heading {
	font-family: $base-font-family;
	font-style: normal;
	font-weight: 600;
	font-size: $header-medium;
	line-height: 22px;
	text-align: left;
	margin-bottom: 30px;
	display: flex;
	align-items: center;

	svg {
		color: $button-background;
		margin-right: 10px;
		font-size: 22.5px;
	}
}
