@import '../../../styles/variables.scss';
@import url('https://rsms.me/inter/inter.css');

.userSurveys {
	display: flex;
	flex-direction: column;
	color: $text-base-color;
	font-family: $base-font-family;

	a {
		margin: 20px;
		text-decoration: none;
		color: $text-base-color;
		font-size: $header-medium;
	}

	.survey-list {
		margin-top: 20px;

		.survey-list-item {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.37);
			padding: 20px;

			span {
				width: 70%;
				text-overflow: ellipsis;
				overflow: hidden;
			}

			&:hover {
				box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.37);
			}

			.buttons {
				min-width: 190px;
				text-align: center;
			}

			button {
				margin-left: 10px;
				margin-bottom: 2px;
				background-color: $button-background;
				color: $white;
				box-shadow: 0px 5px 12px $button-shadow-color;
				border: none;
				padding: 7px;
				height: 43px;
				border-radius: 55px;
				cursor: pointer;
				width: 105px;
				border: none;
				outline: none;
				font-size: $menu-font-size;
				font-weight: bold;
				&:hover {
					background-color: rgb(216, 86, 0);
				}
			}

			.delete-bttn {
				width: 43px;
				background-color: #ed4956;
				border-radius: 50%;

				&:hover {
					background-color: rgb(195, 59, 70);
				}
			}
		}
	}

	.modal-delete-container {
		position: fixed;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: rgba(black, 0.5);
		left: 0;
		top: 0;

		.modal-delete {
			width: 400px;
			display: flex;
			flex-direction: column;
			background-color: $white;
			padding: 30px;
			padding-bottom: 0;
			-moz-border-radius: 15px;
			border-radius: 15px;
			font-weight: 500;

			.delete-title {
				margin-top: 10px;
				font-weight: 400;
				text-align: left;
				font-size: $post-font-size;
				color: $text-secondary-color;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			p {
				text-align: center;
			}

			button {
				display: block;
				border: none;
				height: 50px;
				width: 100%;
				background-color: transparent;
				font-size: $menu-font-size;
				font-family: $base-font-family;
				font-weight: 600;
				color: $text-base-color;
				cursor: pointer;
			}

			button:active,
			button:focus {
				outline: none;
			}

			.delete {
				margin-top: 30px;
				color: #ed4956;
				border-bottom: 0.5px solid rgba($color: $black, $alpha: 0.3);
				border-top: 0.5px solid rgba($color: $black, $alpha: 0.3);
			}
		}
	}
}
