@import '../../../styles/variables.scss';

.UserWatchList {
	padding-top: 20px;
	width: 100%;
	.user-watch-list-container {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(49%, 1fr));
		column-count: 2;
		column-gap: 20px;

		.to-watch-block,
		.watched-block {
			width: 100%;
			text-align: center;

			.watch-block-name {
				font-size: 1.2em;
				font-weight: 600;
			}

			.field-input {
				margin-top: 5px;
				margin-bottom: 20px;
			}
		}
	}
}
