@import '../../../styles/variables.scss';

.UserWatchList {
	padding-top: 20px;
	width: 100%;
	display: flex;
	justify-content: center;

	.user-watch-list-container {
		width: 100%;
		.search-input-container {
			margin: 0 auto;
			width: 500px;
		}

		.to-watch-block,
		.watched-block {
			display: flex;
			flex-direction: column;
			align-items: center;

			.watch-block-name {
				margin-top: 15px;
				margin-bottom: 15px;
				font-size: 1.3em;
				font-weight: 600;
			}
			.watch-items-container {
				width: 100%;
				display: grid;
				grid-template-columns: repeat(auto-fill, minmax(220px, 230px));
				grid-row-gap: 20px;
				grid-column-gap: 10px;
				align-items: center;
			}
		}
	}
}
