@import '../../styles/variables.scss';

.seen-by-modal-container {
	height: 100%;
	width: 100%;
	background-color: rgba($color: $black, $alpha: 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	left: 0;
	top: 0;

	> div {
		width: 400px;
		height: 400px;
	}

	.seen-by-modal {
		width: 100%;
		min-height: 100%;
		background-color: $white;
		color: $text-base-color;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		border-radius: 15px;
		display: flex;
		flex-direction: column;

		header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 50px;
			border-bottom: 0.5px solid rgba($color: $black, $alpha: 0.3);

			.close-modal {
				font-size: 24px;
				margin-right: 10px;
			}

			.close-modal:hover {
				cursor: pointer;
			}

			.modal-header {
				position: relative;
				right: 25%;
				left: 25%;
				text-align: center;
				width: 50%;
				font-size: $header-medium;
				font-weight: 600;
			}
		}

		main {
			overflow: auto;
			height: 330px;
			margin-bottom: 20px;

			.seen-by-item {
				display: flex;
				align-items: center;
				height: 40px;
				padding-left: 20px;
				font-size: $menu-font-size;
				font-weight: 600;

				img {
					display: block;
					width: 32px;
					margin-right: 10px;
				}
			}

			.seen-by-item:hover {
				cursor: pointer;
			}
		}
	}
}
