@import '../../../styles/variables.scss';

.comment-item {
	padding: 0.3em 1em;
	font-size: $post-font-size;
	display: flex;
	align-items: center;

	a {
		display: contents;
	}
	.user-link {
		text-decoration: none;
		color: inherit;
		// display: inline;
	}
	img {
		width: 30px;
		height: 30px;
		margin-right: 5px;
	}
	.comment-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		div {
			word-wrap: break-word;
			max-width: 100ch;
		}
	}
}
.comment-item-reply {
	margin: 0.3em 1em;
	padding: 0 1em;
	border-left: 3px solid #cccccc;
}

.comment-date {
	margin-bottom: 6px;
	font-size: 0.6em;
	text-transform: capitalize;
	display: flex;
	color: rgba(18, 39, 55, 0.5);
	button {
		margin-left: auto;
		font: inherit;
		color: inherit;
		text-transform: inherit;
	}
}
