@import "../../../styles/variables.scss";

.comment-item{
	padding: 0.5em 1em;
	font-size: $post-font-size;
	.comment-date{
		margin-top: 4px;
		text-transform: uppercase;
		color: rgba(18, 39, 55, 0.5);
	}
}