@import '../../../styles/variables.scss';

.comment-item {
	padding: 0.3em 1em;
	font-size: $post-font-size;
	display: flex;
	align-items: center;
	img {
		width: 30px;
		height: 30px;
		margin-right: 5px;
	}
	.comment-date {
		margin-top: 4px;
		text-transform: uppercase;
		display: flex;
		color: rgba(18, 39, 55, 0.5);
		button {
			margin-left: auto;
			font: inherit;
			color: inherit;
			text-transform: inherit;
		}
	}
}
.comment-item-reply {
	margin: 0.3em 1em;
	padding: 0 1em;
	border-left: 3px solid #cccccc;
}
