@import '../../../styles/variables';

.UserProfileComponent{
	padding: 2% 2%;
}
h2 {
	width: 100%;
	text-align: center;
	line-height: 0.1em;
	margin: 10px 0 20px;
	text-transform: uppercase;
	font-weight: lighter;
	span {
		background: $background-gray;
		padding: 0 10px;
	}
}

.ProfileWrap {
	display: flex;
	align-items: flex-start;
	
	.profilePhotoWrap{
		padding-top: 16px;
		width: 35%;
		.upload-wrp{
			width: 100%;
			text-align: center;
			background-color: rgba($black, .1);
			position: relative;
			top: -44px;
			height: 0;
			transition: all .3s linear;
			overflow: hidden;
			margin-top: 40px;
		}
		&:hover .upload-wrp {
			margin-top: 0;
			height: 40px;
		}
		.fontAwesomeIcon{
			margin-top: 5px;
			font-size: 30px;
			color: $text-secondary-color;
			&:hover{
				cursor: pointer;
			}
		}
	}
	.ProfileInfo{
		width: 60%;
	}
	svg {
		fill: #000;
		width: 100%;
		height: auto;
	}
	.profileRow {
		letter-spacing: $base-letter-spacing;
		display: flex;
		justify-content: space-between;
		padding: 1rem;
		.field {
			font-weight: 600;
			width: 30%;
			text-align: left;
			position: relative;
		}
		.content {
			padding-left: 20px;
			width: 70%;
			p {
				background-color: rgba($orange, .7);
				padding: 5px;
				border-radius: 10px;
				color: white;
				display: inline-block;
				line-height: 1.3em;
				margin-bottom: 5px;
				margin-left: 5px;
				transition: all .1s linear;
				&:hover {
					background-color: $orange;
					text-shadow: 0 0 .65px white, 0 0 .65px white;
					text-decoration: underline;
				}
			}
			p:hover {
				cursor: pointer;
			}
		}
	}
}

// the :export directive is the magic sauce for webpack