@import '../../../styles/variables';

.UserProfileComponent {
	padding: 2% 2%;
}
h2 {
	width: 100%;
	text-align: center;
	line-height: 0.1em;
	margin: 10px 0 20px;
	text-transform: uppercase;
	font-weight: lighter;
	span {
		background: $background-gray;
		padding: 0 10px;
	}
}
.ProfileWrap {
	display: flex;
	align-items: flex-start;
	.profilePhotoWrap {
		padding-top: 16px;
		margin-right: 2%;
		width: 35%;
		.upload-wrp {
			width: 100%;
			text-align: center;
			background-color: rgba($black, 0.4);
			position: relative;
			top: -44px;
			height: 0;
			transition: all 0.3s linear;
			overflow: hidden;
			margin-top: 40px;
		}
		&:hover .upload-wrp {
			margin-top: 0;
			height: 40px;
		}
		.fontAwesomeIcon {
			margin-top: 5px;
			font-size: 30px;
			color: $text-base-color;
			&:hover {
				cursor: pointer;
			}
		}
	}
	.ProfileInfo {
		width: 60%;
	}
	svg {
		fill: #000;
		width: 100%;
		height: auto;
	}
	.profileRow {
		letter-spacing: $base-letter-spacing;
		display: flex;
		justify-content: space-between;
		padding: 1rem;
		.field {
			font-weight: 600;
			width: 30%;
			text-align: left;
			position: relative;
		}
		.content {
			padding-left: 20px;
			width: 70%;
			p {
				background-color: rgba($orange, 0.7);
				padding: 5px;
				border-radius: 10px;
				color: white;
				display: inline-block;
				line-height: 1.3em;
				margin-bottom: 5px;
				margin-right: 5px;
				transition: all 0.1s linear;
				&:hover {
					background-color: $orange;
					text-shadow: 0 0 0.65px white, 0 0 0.65px white;
					text-decoration: underline;
				}
			}
			p:hover {
				cursor: pointer;
			}
		}
	}
	.profileRow-username {
		letter-spacing: $base-letter-spacing;
		padding: 1rem;
		padding-bottom: 0;
		font-size: $header-large;
		font-weight: 600;
	}

	.profileRow-info {
		letter-spacing: $base-letter-spacing;
		padding: 1rem;
		display: flex;
		color: rgba($text-base-color, 0.9);

		.user-gender {
			max-width: 20%;
			min-width: 90px;
		}
		.user-location {
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
			width: 80%;
		}

		svg {
			margin-right: 5px;
			color: $text-base-color;
		}
	}
}
.upload-error {
	color: rgba(255, 0, 0, 0.6);
	padding: 0 15px;
}

// the :export directive is the magic sauce for webpack
