@import '../../../styles/variables';

$titleColor: #545454;
$contentColor: #545454;
$svgColor: #000;
$bcgColor: $background-gray;

.UserProfileComponent {
	padding: 2% 2%;
}
h2 {
	width: 100%;
	color: $titleColor;
	text-align: center;
	line-height: 0.1em;
	margin: 10px 0 20px;
	text-transform: uppercase;
	font-weight: lighter;
	span {
		background: $bcgColor;
		padding: 0 10px;
	}
}

.ProfileWrap {
	display: flex;
	align-items: flex-start;

	.profilePhotoWrap {
		width: 35%;
		.fontAwesomeIcon {
			font-size: 30px;
			color: $titleColor;
			&:hover {
				transform: scale(1.1, 1);
				cursor: pointer;
			}
		}
	}
	.ProfileInfo {
		width: 60%;
	}
	svg {
		fill: #000;
		width: 100%;
		height: auto;
	}
	.profileRow:first-child {
		border: none;
	}
	.profileRow {
		font-size: 18px;
		display: flex;
		justify-content: space-between;
		padding: 1rem;
		color: white;
		border-width: 3px;
		border-style: solid;
		border-image: linear-gradient(
				to left,
				darken($bcgColor, 10%),
				rgba(0, 0, 0, 0)
			)
			100% 1;
		.field {
			color: $titleColor;
			width: 30%;
			text-align: left;
			position: relative;
		}
		.content {
			color: $contentColor;
			text-align: right;
			width: 70%;
			p {
				background-color: #00000030;
				padding: 1% 1%;
				margin: 1% 1%;
				display: inline-block;
				line-height: 1.3em;
			}
			p:hover {
				background-color: #fff;
				cursor: pointer;
			}
		}
	}
}

// the :export directive is the magic sauce for webpack
