@import '../../../styles/variables';

.top {
	margin-bottom: 60px;
	display: flex;
	align-items: center;

	.top-poster-wrp {
		width: 25%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;

		.top-poster {
			max-height: 100%;
			max-width: 100%;
		}
	}

	.top-info {
		margin-left: 20px;

		.top-title {
			font-size: $header-large;
		}

		.top-author {
			display: flex;
			align-items: center;
			margin: 20px 0;

			.top-user-avatar {
				width: 40px;
				height: auto;
				border-radius: 50%;
				margin-right: 10px;
			}

			.top-author-name {
				text-transform: capitalize;
			}
		}
	}
}
