@import '../../../../styles/variables.scss';

.WatchItem {
	.watch-item-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 360px;
		width: 200px;

		.watch-image-wrapper {
			position: relative;
			width: 180px;
			height: 269px;
			overflow: hidden;
			font-size: 0;
			box-shadow: rgba(0, 0, 0, 0.8) 2px 2px 8px -2px;
			border-radius: 15px;
			img {
				width: 100%;
			}

			.watch-delete-button {
				position: absolute;
				top: 10px;
				right: 10px;
				width: 25px;
				padding: 5px;
				height: 25px;
				border-radius: 5px;
				color: white;
				background-color: rgba(0, 0, 0, 0.726);
				cursor: pointer;
			}

			.watch-status {
				position: absolute;
				top: 0;
				left: 10px;
				background: url('/images/sprite/sprite-icons.png') no-repeat;
				height: 50px;
				width: 40px;
				background-position-x: -10px;
				transition: all 0.2s linear;
				cursor: pointer;
				background-position-y: -10px;
				&.watched {
					transition: filter 0.2s linear;
				}
				&.to-watch {
					filter: grayscale(100%);
					&:hover {
						filter: brightness(85%);
					}
				}
			}
		}

		.watch-main-bottom {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			.watch-movie-title {
				color: $text-secondary-color;
				text-align: center;
				font-weight: 800;
				font-size: $header-medium;
				margin-top: 9px;
				letter-spacing: $base-letter-spacing;
				max-width: 220px;
				max-height: 200px;
				line-height: 16px;
				text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);

				.watch-movie-date {
					font-size: 12px;
					font-weight: 400;
				}
			}
		}
	}
}
