@import '../../../../styles/variables.scss';

.WatchItem {
	.watch-item-container {
		display: flex;
		flex-direction: column;
		align-items: center;

		.watch-image-wrapper {
			display: relative;
			width: 180px;
			height: 260px;
			overflow: hidden;
			padding: 1px;
			font-size: 0;
			border: 1px solid rgba(0, 0, 0, 0.192);
			img {
				vertical-align: middle;
				width: 100%;
			}

			.absolute-data-in-image {
				color: red; //// TODO
			}
		}

		.watch-main-bottom {
			display: flex;
			flex-direction: column;
			.watch-movie-title {
				color: $text-base-color;
				font-weight: 300;
				margin-top: 5px;
				max-width: 220px;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.watch-secondary {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 20px;
				.movie-duration {
					display: flex;
					align-items: center;
					font-size: $base-font-size;
					margin-right: 4px;
					svg {
						width: 15px;
						height: 15px;
						margin-right: 5px;
					}
				}

				.totaly-movie-rating {
					padding: 0;
					font-size: $base-font-size;
					display: flex;
					align-items: center;
					.icon-star {
						width: 16px;
						height: 16px;
						color: #ffcd1e;
						margin-right: 2px;
					}
				}
			}
		}
	}
}
