.admin-panel-page {
	width: 90%;
	margin: 2% auto 0;
}

.entity-list {
	border-bottom: 1px solid #000;
	text-align: center;

	.entity-item {
		margin-right: 20px;

		cursor: pointer;

		&:last-child {
			margin-right: none;
		}
	}
}

.entity-data {
	display: block;
	width: 100%;
	margin-top: 20px;
	max-height: 400px;
	padding: 10px;
	border: 1px solid silver;
	overflow-y: scroll;
	text-align: center;
	border-collapse: collapse;

	th {
		padding: 10px 5px;
	}

	tr:nth-child(even) {
		background-color: #f9f9f9;
	}

	td {
		max-width: 300px;
		padding: 5px;
		border: 1px solid silver;
		text-overflow: ellipsis;
		overflow: hidden;
	}

	.entity-data-btn {
		padding: 10px;
		cursor: pointer;
		color: red;
	}
}

.entity-data-warning {
	display: flex;
	justify-content: center;
	margin-top: 20px;
}
