@import '../../../styles/variables.scss';

.cast-item {
	font-family: $base-font-family;
	font-style: normal;
	font-weight: normal;
	font-size: $base-font-size;
	line-height: 14px;
	letter-spacing: $base-letter-spacing;
	padding: 0.5em;
	border-radius: 10px;
	width: calc(130px / 4 * 3 + 0.5em);
	text-align: center;
}

.cast-item-name {
	text-align: center;
	color: $text-base-color;
	border-bottom: 1px solid $border-color;
}
.cast-item-role {
	color: $text-secondary-color;
}
.cast-item-image {
	width: 100%;
}
.cast-item-image-wrp {
	width: calc(130px / 4 * 3);
	height: 130px;
	border-radius: 10px;
	overflow: hidden;
	display: flex;
	align-items: center;
}
