@import '../../../styles/variables.scss';

.comment-form {
	display: flex;
	padding: 1em;
	margin-top: 0.5em;
	text-align: left;
	position: relative;
	border-top: 2px solid #e5e5e5;
	.comment-input {
		border: none;
		height: 100%;
		width: 80%;
		font-family: $base-font-family;
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 19px;
		letter-spacing: 0.4px;
		color: $text-secondary-color;
		outline: none;
	}
	.publish-button {
		display: block;
		margin-left: auto;
		font-family: $base-font-family;
		font-style: normal;
		font-weight: 600;
		font-size: 16px;
		line-height: 19px;
		letter-spacing: 0.4px;
		color: $button-publish-color;
	}
}
.comment-form-reply {
	margin-top: 5px;
	border: 2px solid #e5e5e5;
}
