@import '../../../styles/variables.scss';
@import '../AdvancedMovieSearch/CustomCheckbox.scss';

.checkbox-block {
	font-family: $base-font-family;
	max-height: 130px;
	overflow-y: scroll;
}

.checkbox-header {
	font-size: $header-medium;
	align-self: center;
}

.checkbox-block::-webkit-scrollbar {
	width: 4px;
}

/* Handle */
.checkbox-block::-webkit-scrollbar-thumb {
	background: rgba($black, 0.5);
	border-radius: 10px;
}

.checkbox-input {
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: 19px;
	box-shadow: rgba($black, 0.04);
	border-radius: 3px;
	background: $white;
	padding: 0.5em;
	margin-bottom: 0.5em;
	outline: none;
	border: 1px solid rgba(0, 0, 0, 0.11);
}
